@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:wght@100..900&display=swap');
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


:root {
    --base-color: rgb(17, 17, 17);
    --heading-color: white;
    --heading2-color: black;
    --bodytextlight-color: whitesmoke;
    --bodytext-color: #c5c5c5;
    --bodytextdark-color: #a4a4a4;
    --bodytextslightdark-color: #676767;
    --bodytextdarker-color: rgb(93, 93, 93);
    --greybackground-color: #1f1f1f;

    --lightblue: rgb(112, 148, 255);
    --blue: rgb(70, 116, 255);
    --darkblue: rgb(43, 83, 203);

    --border-radius-mobile: 0.5rem;
    --nav-size-mobile: 0.8rem;
    --bodytext-size-mobile: 0.8rem;
    --heading-1-size-mobile: 1.9rem;
    --heading-2-size-mobile: 1.5rem;
    --heading-3-size-mobile: 1rem;
    --heading-4-size-mobile: 1rem;
    --heading-5-size-mobile: 1rem;


    --border-radius-desktop: 1rem;
    --nav-size-desktop: 0.9rem;
    --bodytext-size-desktop: 1rem;
    --heading-1-size-desktop: 3rem;
    --heading-2-size-desktop: 2rem;
    --heading-3-size-desktop: 1.5rem;
    --heading-4-size-desktop: 1.3rem;
    --heading-5-size-desktop: 1.1rem;

    --border-radius-monitor: 1.3rem;
    --nav-size-monitor: 1rem;
    --bodytext-size-monitor: 1.1rem;
    --heading-1-size-monitor: 3rem;
    --heading-2-size-monitor: 1.5rem;
    --heading-3-size-monitor: 2rem;
    --heading-4-size-monitor: 1.5rem;
    --heading-5-size-monitor: 1.2rem;
}

.grey {
    color: var(--bodytextdark-color);
}
.slight-grey {
    color: var(--bodytextslightdark-color);
}
.dark-grey {
    color: var(--bodytextdarker-color);
}
.light-grey {
    color: var(--heading-color);
    opacity: 0.8;
}
.black {
    color: var(--heading2-color);
}
.blue {
    color: var(--blue);
}
.darkblue {
    color: var(--darkblue);
}
.lightblue {
    color: var(--lightblue);
}
.black {
    color: var(--base-color);
}
.white {
    color: var(--heading-color);
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
}
a {
    font-family: "Geist", Arial, sans-serif;
    font-weight: 300;
    color: var(--bodytextdarker-color);
    text-decoration: none;
}
body {
    background-color: var(--base-color);
}
h1 {
    font-family: "Geist", Arial, sans-serif;
    font-weight: 500;
    color: var(--heading-color);
    margin: 0 0 0 0;
}
p {
    font-family: "Geist", Arial, sans-serif;
    font-weight: 300;
    color: var(--bodytext-color);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.button {
    font-family: "Geist", Arial, sans-serif;
    color: var(--bodytext-color);
    background-color: none;
    transition-property: all;
    transition-duration: .25s;
}
.button:hover {
    color: var(--heading-color);
}
.justify-content-div {
    align-content: center;
    text-align: center;
    justify-content: center;
}
.justify-content-div.text-left {
    text-align: left;
}
.body-text {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.heading-1 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.heading-2 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.heading-3 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.heading-4 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.heading-5 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.grey-border { border: 1px solid #383838; }
.background-white { background-color: var(--bodytextlight-color); }
.background-darkblue { background-color: var(--darkblue);}
.background-blue { background-color: var(--blue); }
.background-black { background-color: var(--heading2-color); }
.background-grey { background-color: var(--greybackground-color); }

.align-center-div {
    text-align: center;
}
.align-center-div.margin-top {
    margin-top: 1rem;
}
.margin-top-0 {
    margin-top: 0;
}
.margin-bottom-0 {
    margin-bottom: 0rem;
}
.half-margin-top {
    margin-top: 0.5rem;
}
.half-margin-bottom {
    margin-bottom: 0.5rem;
}
.margin-top-1 {
    margin-top: 1rem;
}
.margin-top-2 {
    margin-top: 2rem;
}
.margin-top-3 {
    margin-top: 3rem;
}
.margin-top-4 {
    margin-top: 4rem;
}
.margin-top-6 {
    margin-top: 6rem;
}
.margin-bottom-1 {
    margin-bottom: 1rem;
}
.margin-bottom-2 {
    margin-bottom: 2rem;
}
.margin-bottom-3 {
    margin-bottom: 3rem;
}
.margin-bottom-4 {
    margin-bottom: 4rem;
}
.margin-bottom-6 {
    margin-bottom: 6rem;
}
.margin-right-1 {
    margin-right: 1rem;
}
.margin-right-2 {
    margin-right: 2rem;
}
.margin-left-1 {
    margin-left: 1rem;
}
.margin-left-2 {
    margin-left: 2rem;
}
.relative {position: relative;}
.italic {font-style: italic;}
.flex {display: flex;}

/* NAV BAR */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    align-items: center;
    transition: top 0.5s;

    top: 0rem;
}
.nav-inner-container {
    display: flex;
    width: fit-content;
    border-radius: 1000rem;
    background-color: rgba(68, 68, 68, 0.5);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
}
.sub-nav-container {
    background-color: rgba(18, 18, 18, 0.5);
    border-radius: 1000rem;
    height: fit-content;
    margin-right: 1rem;
    margin-left: -0.5rem;
}

.button-nav {
    display: inline-block;
    font-family: "Geist", Arial, sans-serif;
    font-weight: 500;
    color: var(--bodytext-color);
    text-decoration: none;
    transition-property: all;
    transition-duration: .25s;
}
.button-nav.active {
    border: 2px solid var(--blue);
}
.button-nav.active-sub {
    border: 2px solid rgba(125, 152, 232, 0.5);
    color: rgba(125, 152, 232);
}
.button-nav:hover {
    background-color: rgba(98, 98, 98, 0.7);
    transition-property: all;
    transition-duration: .25s;
}
#nav-resume {
    background-color: var(--blue);
    border: 2px solid var(--blue);
    color: var(--heading-color);
    cursor: pointer;
}

#nav-resume:hover {
    background-color: var(--darkblue);
    border: 2px solid var(--darkblue);
    cursor: pointer;
}

/* HOMEPAGE */
/* HERO SECTION */
.hero-container {
    display: block;
    align-items: center;
    text-align: center;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hero-container.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* PROJECTS SECTION */
#first {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#first.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#first-1 {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#first-1.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.project-section {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.project-section.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hero-highlight {
    display: inline-block;
    border-radius: 1000rem;
    background-color: var(--blue);
    transform: rotate(2deg);
    transition: all 0.5s;
}
.hero-highlight.rotate-left {
    transform: rotate(-2deg);
    background-color: var(--darkblue);
    transition: all 0.5s;
}
.highlight {
    display: inline-block;
    border-radius: 1000rem;
    background-color: var(--darkblue);
    color: var(--heading-color);
}
.project-section-2 {
    opacity: 1;
}
.homepage-project-name {
    font-family: "Geist", Arial, sans-serif;
    font-weight: 400;
    transition-property: all;
    transition-duration: .5s;
    color: var(--bodytextdark-color);
}
.homepage-project-info-container {
    justify-content: center;
    align-items: center;
}
.homepage-project-image-container {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}
.homepage-project-image {
    display: block;
    width: 100%;
    height: auto;
    transition-property: all;
    transition-duration: .5s;
}
.homepage-project-image:hover {
    transform: scale(1.07);
    transition-property: all;
    transition-duration: .5s;
}

.project-info-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.vault-thumbnail-container {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    justify-self: center;
    align-self: center;
}
.footer-section {
    width: auto;
    height: auto;
    background-color: var(--base-color);
    border-top: 0.3px solid var(--bodytextdarker-color);
    text-align: center;

    padding: 2rem 0 7rem 0;
    margin: 0 5rem 0 5rem;
}
.footer {
    color: var(--bodytextdark-color);
    margin: 0.7rem 0 0 0;
}
.footer.margin-bottom {
    margin-bottom: 2rem;
}
.contacts-container {
    display: flex;
    justify-content: center;
    /* centers the images horizontally */
    align-items: center;
    gap: 2rem;
    /* space between images */
    margin-top: 1rem;
}
.contacts {
    width: 2rem;
    height: 2rem;
    transform: scale(1);
    transition-property: all;
    transition-duration: .25s;
}
.contacts:hover {
    transform: scale(1.2);
    transition-property: all;
    transition-duration: .25s;
}

/* ABOUT PAGE */
.about-image-container {
    overflow: hidden;
}
.about-text {
    font-family: "Geist", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: var(--heading-color);
    margin-right: -5rem;
    margin-left: -5rem;
}
.about-inner-section.border {
    border-bottom-style: solid;
    border-bottom-width: 0.3px;
    border-bottom-color: var(--bodytextdark-color);
}
.about-inner-section {
    transform: translateY(40px);
    opacity: 0;
    transition-property: all;
    transition-duration: .5s;
}
.about-inner-section.show {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.arrow-button {
    display: inline-block;
    transform-origin: left center;
    position: relative;
    color: var(--heading-color);
}
.arrow-button.arrow-button-hero {
    color: var(--heading-color);
}
.arrow-button.arrow-button-hero:hover {
    color: var(--blue);
}
.arrow-button:hover {
    color: var(--blue);
}
.arrow-button:hover .text-arrow {
    transform: translate(10px);
}
.text-arrow {
    display: inline-block;
    transform: translate(0);
    transition: transform 0.25s;
}

/* CARDIO PAGE  */
.image-container {
    overflow: hidden;
}
.cover-image {
    width: 100%;
    height: auto;
    transform: scale(1.03);
}
.grid {
    display: grid;
}
.zoom{
    transform: scale(1.01);
}
.video-zoom {
  transform: scale(1.8) translateY(6rem);
}
.width-auto {width: auto;}
.width-100 {width: 100%;}
.width-20 {width: 20%;}
.width-60 {width: 60%;}
.height-auto {height: auto;}
.height-60 {height: 60%;}
.height-100 {height: 100%;}
.column-gap-1 {column-gap: 1rem;}
.column-gap-2 {column-gap: 2rem;}
.column-gap-3 {column-gap: 3rem;}
.row-gap-1 {row-gap: 1rem;}
.row-gap-2 {row-gap: 2rem;}
.row-gap-3 {row-gap: 3rem;}

.other-container {
    display: grid;
}

/* BREAKPOINT 1 */
@media (min-width: 20rem) {
    /* NAV BAR */
    .nav-container {
        padding: 2rem 0 0 0;
    }
    .button-nav {
        font-size: var(--nav-size-mobile);
        padding: 0.7rem 0.7rem 0.7rem 0.7rem;
        border-radius: 1000rem;
    }
    .nav-inner-container {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    .nav-project {
        margin-right: 1rem;
    }
    /* HOMEPAGE - HERO SECTION */
    p {
        font-size: var(--bodytext-size-mobile);
    }
    .bold {font-weight: 400;}
    .more-bold {font-weight: 500;}
    .button {
        font-size: var(--bodytext-size-mobile);
    }
    .button.button-2 {
        margin-left: 0rem;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
    .break {
        display: none;
    }
    .round-border {
        border-radius: var(--border-radius-mobile);
    }
    .hero-container {
        margin-top: 13rem;
        margin-bottom: 12rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .hero-text {
        display: block;

        font-size: 1.8rem;
        line-height: 2.5rem;
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: -1px;
    }
    .hero-highlight {
        font-size: 1.55rem;
        padding: 0.3rem 1rem 0.3rem 1rem;
    }
    .highlight {
        padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    }
    .highlight.margin-right {
        margin-right: 0.3rem;
    }
    .hero-text-smaller {
        font-weight: 300;
        display: block;

        margin-top: 2rem;
        font-size: 1rem;
        line-height: 1.7rem;
    }
    .justify-content-div.text-right {
        text-align: unset;
    }
    .arrow-button.arrow-button-hero {
        font-size: 1rem;
    }
    .arrow-button.exp {
        font-size: 1rem;
    }

    /* HOMEPAGE - PROJECT SECTION */
    .project-section {
        margin: 9rem 2rem 5rem 2rem;
    }
    .project-section-2 {
        margin: 9rem 2rem 5rem 2rem;
    }
    .homepage-project-name {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    .homepage-project-info-container {
        flex-direction: column;
    }
    #cover-1 {
        visibility: hidden;
        display: none;
    }
    #cover-2 {
        visibility: visible;
        display: block;
    }
    .homepage-project-image-container {
        margin-top: 1.3rem;
        border-radius: var(--border-radius-mobile);
    }
    .homepage-project-des {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 2.5rem;
        font-weight: 400;
        font-size: 2rem;
    }
    .vault-thumbnail-container {
        border-radius: var(--border-radius-mobile);
        margin-bottom: 0.7rem;
    }
    .grid.thumbnail-two-column {
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;

        column-gap: 0rem;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }

    /* ABOUT PAGE */
    .about-section {
        margin: 9rem 3rem 5rem 3rem;
    }
    .about-image-container {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        align-self: center;
        justify-self: center;
        border-radius: var(--border-radius-mobile);
    }
    .grid.about-two-column {
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        border-bottom-style: solid;
        border-bottom-width: 0.3px;
        border-bottom-color: var(--bodytextdark-color);

        column-gap: 0rem;
        padding-bottom: 3rem;
    }
    .about-image {
        width: 100%;
        height: 100%;
    }
    .hello-container {
        height: 5.5rem;
        text-align: center;
    }
    .about-text {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .about-2-container {
        aspect-ratio: 1 / 1;
        overflow: hidden;
    }
    .about-image-2 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: var(--border-radius-mobile);
        filter: brightness(100%);
    }
    .about-inner-section {
        padding-bottom: 4rem;
    }

    /* CARDIO PAGE */
    .cover-image-section {
        margin: 6rem 2rem 0 2rem;
    }
    .cover-image-1 {
        display: none;
    }
    .cover-image-2 {
        display: block;
    }
    .image-container {
        border-radius: var(--border-radius-mobile);
        width: 100%;
        height: auto;
    }
    .project-analysis-section {
        margin: 0 2rem 0 2rem;
    }
    .project-analysis-section.first-section {
        margin: 0 2rem 0 2rem;
    }
    .vertical-video {
        filter: brightness(100%);
        border-radius: var(--border-radius-mobile);
    }
    .video-container {
        border-radius: var(--border-radius-mobile);
    }
    .body-text {
        line-height: 1.2rem;
    }
    .heading-5 {
        font-size: var(--heading-5-size-mobile);
        line-height: 1.3rem;
    }
    .heading-4 {
        font-size: var(--heading-4-size-mobile);
        line-height: 1.3rem;
    }
    .heading-3 {
        font-size: var(--heading-3-size-mobile);
        line-height: 1.4rem;
    }
    .heading-1 {
        font-size: var(--heading-1-size-mobile);
        line-height: 2.6rem;
    }
    .heading-2 {
        font-size: var(--heading-2-size-mobile);
        line-height: 2.6rem;
    }
    .grid.one-column {
        grid-template-columns: 1fr;
    }
    .grid.two-column {
        grid-template-columns: 1fr;
    }
    .grid.three-column {
        grid-template-columns: 1fr;
    }
    .grid.three-two {
        grid-template-columns: 1fr;
    }
    .grid.two-three {
        grid-template-columns: 1fr;
    }
}

/* BREAKPOINT 2 */
@media (min-width: 30rem) {}

/* BREAKPOINT 3 */
@media (min-width: 32rem) {}

/* BREAKPOINT 4 */
@media (min-width: 68rem) {

    /* NAV BAR */
    .nav-container {
        padding: 1.5rem 0 0 0;
    }
    .nav-container.left {
        padding: 1.5rem 0 0 2.5rem;
        flex-direction: column;
        align-items: start;
    }
    .button-nav {
        font-size: var(--nav-size-desktop);
        padding: 0.7rem 1rem 0.7rem 1rem;
        border-radius: 1000rem;
    }
    .nav-inner-container {
        padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    }
    .nav-project {
        margin-right: 1rem;
    }

    /* HOMEPAGE - HERO SECTION */
    p {
        font-size: var(--bodytext-size-desktop);
    }
    .bold {font-weight: 400;}
    .more-bold {font-weight: 500;}
    .button {
        font-size: var(--bodytext-size-desktop);
    }
    .button.button-2 {
        margin-left: 2rem;
        margin-top: unset;
        margin-bottom: unset;
    }
    .break {
        display: unset;
    }
    .round-border {
        border-radius: var(--border-radius-desktop);
    }
    .hero-container {
        margin-top: 11.5rem;
        margin-bottom: 9.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .hero-text {
        display: block;

        font-size: 3.7rem;
        line-height: 4.6rem;
        margin-top: 0;
        margin-bottom: 0rem;
    }
    .hero-highlight {
        font-size: 3.2rem;
        padding: 0.8rem 2rem 0.8rem 2rem;
    }
    .highlight {
        padding: 0.7rem 1.1rem 0.7rem 1.1rem;
    }
    .highlight.margin-right {
        margin-right: 1rem;
    }
    .hero-text-smaller {
        display: block;
        overflow: hidden;

        margin-top: 4rem;
        font-size: 1rem;
        line-height: 1.8rem;
        padding-left: 12rem;
        padding-right: 12rem;
    }
    .justify-content-div.text-right {
        text-align: right;
    }
    .arrow-button.arrow-button-hero {
        font-size: 1rem;
    }
    .arrow-button.exp {
        font-size: 1.2rem;
    }
    .grid.intro-two-column {
        grid-template-columns: 1fr 5fr;
        width: 100%;
        height: auto;

        column-gap: 1rem;
    }

    /* HOMEPAGE - PROJECT SECTION */
    .project-section {
        margin: 0 13rem 15rem 13rem;
    }
    .project-section-2 {
        margin: 0 12rem 15rem 12rem;
    }
    .homepage-project-name {
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
    }
    .homepage-project-info-container {
        flex-direction: row;
    }
    #cover-1 {
        visibility: visible;
        display: block;
    }
    #cover-2 {
        visibility: hidden;
        display: none;
    }
    .homepage-project-image-container {
        margin-top: 2rem;
        border-radius: var(--border-radius-desktop);
    }
    .homepage-project-des {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 2.8rem;
        font-weight: 400;
        font-size: 2rem;
    }
    .vault-thumbnail-container {
        border-radius: var(--border-radius-desktop);
        margin-bottom: 0rem;
    }
    .grid.thumbnail-two-column {
        grid-template-columns: 1fr 1.75fr;
        width: 100%;
        height: auto;

        column-gap: 2rem;
        margin-top: 3rem;
        margin-bottom: 0;
    }

    /* ABOUT PAGE */
    .about-section {
        margin: 9rem 30rem 6rem 30rem;
    }
    .about-image-container {
        width: 100%;
        height: auto;
        align-self: center;
        justify-self: center;
        border-radius: var(--border-radius-desktop);
        margin-top: 4rem;
    }
    .about-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .about-info-container {
        padding: 0 0 0 0;
    }
    .about-text {
        font-size: 3rem;
        line-height: 4rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .hello-container {
        height: 7rem;
        text-align: center;
    }
    .about-2-container {
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: var(--border-radius-desktop);
    }
    .about-image-2 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        filter: brightness(80%);
    }
    .about-inner-section {
        padding-bottom: 6rem;
    }

    /* CARDIO PAGE */
    .cover-image-1 {
        display: block;
    }
    .cover-image-2 {
        display: none;
    }
    .image-container {
        border-radius: var(--border-radius-desktop);
        width: 100%;
        height: auto;
    }
    .project-analysis-section {
        margin: 6rem 9rem 6rem 9rem;
    }
    .project-analysis-section.full-width {
        margin: 6rem 3rem 6rem 3rem;
    }
    .project-analysis-section.first-section {
        margin: 8rem 9rem 3rem 9rem;
    }
    .vertical-video {
        border-radius: var(--border-radius-desktop);
    }
    .video-container {
        border-radius: var(--border-radius-desktop);
    }
    .body-text {
        line-height: 1.6rem;
    }
    .heading-5 {
        font-size: var(--heading-5-size-desktop);
        line-height: 1.5rem;
    }
    .heading-4 {
        font-size: var(--heading-4-size-desktop);
        line-height: 2rem;
    }
    .heading-3 {
        font-size: var(--heading-3-size-desktop);
        line-height: 2.2rem;
    }
    .heading-1 {
        font-size: var(--heading-1-size-desktop);
        line-height: 3.7rem;
    }
    .heading-2 {
        font-size: var(--heading-2-size-desktop);
        line-height: 2.6rem;
    }
    .textcard-container {
        text-align: center;
        padding: 2rem 8rem 2rem 8rem;
        border-radius: var(--border-radius-desktop);
        overflow: hidden;
    }
    .textcard-container-small {
        text-align: center;
        padding: 2rem 2rem 2rem 2rem;
        border-radius: var(--border-radius-desktop);
    }
    .textcard-inner-container-1 {
        padding: 2rem 2rem 2rem 2rem;
        border-top-left-radius: var(--border-radius-desktop);
        border-top-right-radius: var(--border-radius-desktop);
        overflow: hidden;
    }
    .textcard-inner-container-2 {
        padding: 2rem 2rem 2rem 2rem;
        border-bottom-left-radius: var(--border-radius-desktop);
        border-bottom-right-radius: var(--border-radius-desktop);
        overflow: hidden;
    }
    .grid.two-column {
        grid-template-columns: 1fr 1fr;
    }
    .grid.three-column {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid.project-grid {
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;
        margin-bottom: 1rem;
    }
    .grid.three-two {
        grid-template-columns: 3fr 2fr;
    }
    .grid.two-three {
        grid-template-columns: 2fr 3fr;
    }
}

/* BREAKPOINT 5 */
@media (min-width: 100rem) {
    /* NAV BAR */
    .button-nav {
        font-size: var(--nav-size-monitor);
    }
    .nav-container {
        padding: 2rem 0 0 0;
    }
    .nav-project {
        margin-right: 2rem;
    }
    /* HOMEPAGE - HERO SECTION */
    p {
        font-size: var(--bodytext-size-monitor);
    }
    .bold {font-weight: 400;}
    .more-bold {font-weight: 500;}
    .button {
        font-size: var(--bodytext-size-desktop);
    }
    .button.button-2 {
        margin-left: 5rem;
        margin-top: unset;
        margin-bottom: unset;
    }
    .round-border {
        border-radius: var(--border-radius-monitor);
    }
    .hero-container {
        margin-top: 15rem;
        margin-bottom: 15rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .hero-text {
        display: block;

        font-size: 3.7rem;
        line-height: 4.6rem;
        margin-top: 0;
        margin-bottom: 0rem;
    }
    .hero-highlight {
        font-size: 3.2rem;
        padding: 0.8rem 2rem 0.8rem 2rem;
    }
    .highlight {
        font-size: 1rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
    .highlight.margin-right {
        margin-right: 1rem;
    }
    .hero-text-smaller {
        display: block;
        overflow: hidden;

        margin-top: 4rem;
        font-size: 1.1rem;
        line-height: 1.9rem;
    }
    .arrow-button.arrow-button-hero {
        font-size: 1.1rem;
    }
    .arrow-button.exp {
        font-size: 1.5rem;
    }
    .grid.intro-two-column {
        grid-template-columns: 1fr 5fr;
        width: 100%;
        height: auto;

        column-gap: 1rem;
    }

    /* HOMEPAGE - PROJECT SECTION */
    .project-section {
        margin: 9rem 24rem 15rem 24rem;
    }
    .project-section-2 {
        margin: 9rem 24rem 15rem 24rem;
    }
    .homepage-project-name {
        margin-bottom: 0;
        font-size: 1.5rem;
    }
    .homepage-project-info-container {
        flex-direction: row;
    }
    #cover-1 {
        visibility: visible;
        display: block;
    }
    #cover-2 {
        visibility: hidden;
        display: none;
    }
    .homepage-project-image-container {
        margin-top: 0;
        border-radius: var(--border-radius-monitor);
    }
    .homepage-project-des {
        font-size: 2.2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 3.2rem;
    }
    .vault-thumbnail-container {
        border-radius: var(--border-radius-monitor);
        margin-bottom: 0rem;
    }
    .grid.thumbnail-two-column {
        grid-template-columns: 1fr 1.8fr;
        width: 100%;
        height: auto;

        column-gap: 2.5rem;
        margin-top: 3rem;
        margin-bottom: 0;
    }
    /* ABOUT PAGE */
    .about-section {
        margin: 9rem 39rem 6rem 39rem;
    }
    .about-image-container {
        width: 100%;
        height: auto;
        align-self: center;
        justify-self: center;
        text-align: center;
        border-radius: var(--border-radius-monitor);
        margin-top: 4rem;
    }
    .about-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .about-info-container {
        padding: 0 0 0 0;
    }
    .about-text {
        font-size: 3.5rem;
        line-height: 4rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .hello-container {
        height: unset;
        text-align: center;
    }
    .about-2-container {
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: var(--border-radius-monitor);
    }
    .about-image-2 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        filter: brightness(80%);
    }
    .about-inner-section {
        padding-bottom: 5rem;
    }
    /* CARDIO PAGE */
    .project-analysis-section {
        margin: 0 19rem 6rem 19rem;
    }
    .project-analysis-section.first-section {
        margin: 10rem 19rem 6rem 19rem;
    }
    .cover-image-section {
        margin: 6rem 19rem 0 19rem;
    }
    .cover-image-1 {
        display: block;
    }
    .cover-image-2 {
        display: none;
    }
    .image-container {
        border-radius: var(--border-radius-monitor);
        width: 100%;
        height: auto;
    }
    .vertical-video {
        border-radius: var(--border-radius-monitor);
    }
    .video-container {
        border-radius: var(--border-radius-monitor);
    }
    .body-text {
        line-height: 1.7rem;
    }
    .heading-5 {
        font-size: var(--heading-5-size-monitor);
        line-height: 1.3rem;
    }
    .heading-4 {
        font-size: var(--heading-4-size-monitor);
        line-height: 2rem;
    }
    .heading-3 {
        font-size: var(--heading-3-size-monitor);
        line-height: 2.8rem;
    }
    .heading-1 {
        font-size: var(--heading-1-size-monitor);
    }
    .heading-2 {
        font-size: var(--heading-2-size-monitor);
        line-height: 2.6rem;
    }
    .cta {
        margin-left: 9rem;
        margin-right: 9rem;
    }
    .grid.two-column {
        grid-template-columns: 1fr 1fr;
    }
    .grid.three-column {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid.project-grid {
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}