@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:wght@100..900&display=swap');
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


:root{
    --base-color: rgb(17, 17, 17);
    --heading-color: white;
    --heading2-color: black;
    --bodytextlight-color: whitesmoke;
    --bodytext-color: #c5c5c5;
    --bodytextdark-color: #a4a4a4;
    --bodytextslightdark-color: #676767;
    --bodytextdarker-color: rgb(93, 93, 93);
    --blue-button: rgb(70, 116, 255);
    --darkblue-button: rgb(43, 83, 203);
}
.lightmode{
    --base-color: white;
    --heading-color: black;
    --heading2-color: white;
    --bodytextlight-color: #323232;
    --bodytext-color: #636363;
    --bodytextdark-color: #777777;
    --bodytextdarker-color: rgb(197, 197, 197);
}
.grey{
    color: var(--bodytextdark-color);
}
.slight-grey{
    color: var(--bodytextslightdark-color);
}
.dark-grey{
    color: var(--bodytextdarker-color);
}
.light-grey{
    color: var(--heading-color);
    opacity: 0.8;
}
.green{
    color:rgb(29, 188, 97);
}
.dark-green{
    color:rgb(15, 133, 66);
}
.blue{
    color: var(--blue-button);
}
.fh-blue{
    color: #4988b8;
}
.black{
    color: var(--base-color);
}
.white{
    color: var(--heading-color);
}
.orange{
    color: #e56300;
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
  }

body {
    scroll-behavior: smooth;
}
/* .cursive{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5rem;
} */
a{
    font-family: "Geist", Arial, sans-serif;
    font-weight: 300;
    color: var(--bodytextdarker-color);
    text-decoration: none;
}
body{
    background-color: var(--base-color);
}
h1{
    font-family: "Geist", Arial, sans-serif;
    font-weight: 500;
    color: var(--heading-color);
    margin: 0 0 0 0;
}
h2{
    font-family: "Geist", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    color: var(--heading-color);
}
p{
    font-family: "Geist", Arial, sans-serif;
    font-weight: 300;
    color: var(--bodytext-color);
}
li{
    font-family: "Geist", Arial, sans-serif;
    font-weight: 300;
    color: var(--bodytext-color);
}
ul{
    list-style-position: outside;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
}
.button{
    font-family: "Geist", Arial, sans-serif;
    color: var(--bodytext-color);
    background-color: none;
    transition-property: all;
    transition-duration: .25s;
}
.button.button-margin-top{
    display: block;

    width: 8rem;
    margin-top: 2rem;
}
button.button-margin-top:hover{
    color: var(--heading-color);
    cursor: pointer;
}
.button:hover{
    color: var(--heading-color);
}
.button.in-grid{
    display: flex;
    justify-content:center;
	align-items:center;

    width: 13rem;
    height: 1.5rem;
}
.justify-content-div{
    align-content: center;
    text-align: center;
    justify-content: center;
}
.justify-content-div.no-text{
    text-align: left;
}

.align-center-div{
    text-align: center;
}
.align-center-div.margin-top{
    margin-top: 1rem;
}
.no-margin-top{
    margin-top: 0;
}
.body-text.half-margin-top{
    margin-top: 0.5rem;
}
.body-text.no-margin-bottom{
    margin-bottom: 0rem;
}
.body-text.one-margin-bottom{
    margin-bottom: 1rem;
}
.body-text.slightly-bigger.one-margin-top{
    margin-top: 1rem;
}
.body-text.slightly-bigger.two-margin-top{
    margin-top: 2rem;
}
.body-text.slightly-bigger.no-margin-top{
    margin-top: 0;
}
.body-text.slightly-bigger.one-margin-bottom{
    margin-bottom: 1rem;
}
.body-text.slightly-bigger.no-margin-bottom{
    margin-bottom: 0;
}
.body-text.extremely-bigger.onehalf-margin-bottom{
    margin-bottom: 1.5rem;
}
.body-text.extremely-bigger.no-margin-bottom{
    margin-bottom: 0rem;
}
.relative{
    position: relative;
}
.issue-container{
    background-color: var(--heading2-color);
    border: 2px solid rgb(25, 25, 25);
}
.issue-container.white{
    background-color: var(--bodytext-color);
}
.issue-container.dark-white{
    background-color: var(--bodytext-color);
}
.issue-container.green{
    background-color: rgb(32, 111, 59);
}
.issue-container.auto-height{
    height: auto;
    margin-bottom: 1rem;
}
.absolute{
    position: absolute;
    bottom: 2rem;
}
.center{
    text-align: center;
    justify-content: center;
}
.italic{
    font-style: italic;

    margin-top: 1rem;
}

/* NAV BAR */
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    position: fixed;
    z-index: 10;
    width: 100%;
    align-items: center;

    /* opacity: 0;
    transform: scale(0);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); */

    top:0rem;
}
/* .nav-container.show{
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} */
.nav-inner-container{
    width: fit-content;
    border-radius: 1000rem;
    background-color: rgba(68, 68, 68, 0.5);
    backdrop-filter: blur(7px);
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.button-nav{
    display: inline-block;
    font-family: "Geist", Arial, sans-serif;
    font-weight: 500;
    color: var(--bodytext-color);
    text-decoration: none;
    transition-property: all;
    transition-duration: .25s;
}
.button-nav.active{
    border: 2px solid var(--blue-button);
}
.button-nav:hover{
    background-color: rgba(98, 98, 98, 0.7);
    transition-property: all;
    transition-duration: .25s;
}
#nav-resume{
    background-color: var(--blue-button);
    color: var(--heading-color);
    cursor: pointer;
}
#nav-resume:hover{
    background-color: var(--darkblue-button);
    cursor: pointer;
}

/* HOMEPAGE */
/* HERO SECTION */
.hero-container{
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0;
    transform: translateY(40px);
transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hero-container.show{
    opacity: 1;
    transform: translateY(0);
transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* PROJECTS SECTION */
.project-section{
    opacity: 0;
    transform: translateY(40px);
transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.project-section.show{
    opacity: 1;
    transform: translateY(0);
transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hero-highlight{
    display: inline-block;
    border-radius: 1000rem;
    background-color: var(--blue-button);
    transform: rotate(2deg);
}
.hero-highlight.rotate-left{
    transform: rotate(-2deg);
    background-color: var(--darkblue-button);
}
.hero-highlight.tags{
    background-color: var(--darkblue-button);
    transform: rotate(0deg);
    color: var(--heading-color);
}

.project-section-2{
    opacity: 1;
}
.homepage-project-name{
    font-family: "Geist", Arial, sans-serif;
    font-weight: 400;
    transition-property: all;
    transition-duration: .5s;
    color: var(--bodytext-color);
}
.homepage-project-info-container{
    justify-content: center;
    align-items: center;
}
.homepage-project-info{
    color: var(--bodytextslightdark-color);
    font-weight: 300;
}
.homepage-project-info.no-margin-top{
    margin-top: 0;
}
.homepage-project-image-container{
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}
.homepage-project-image{
    display: block;
    width: 100%;
    height: auto;
    transition-property: all;
    transition-duration: .5s;
}
.homepage-project-image:hover{
    transform: scale(1.07);
    transition-property: all;
    transition-duration: .5s;
}
.project-info-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.vault-thumbnail-container{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    justify-self: center;
    align-self: center;
}
.vault-info-container{
    display: block;
    align-self: center;
}
.vault-info{
    color: var(--bodytext-color);
}
.footer-section{
    width: auto;
    height: auto;
    background-color: var(--base-color);
    border-top: 0.3px solid var(--bodytextdarker-color);
    text-align: center;

    padding: 2rem 0 7rem 0;
    margin: 0 5rem 0 5rem;
}
.footer{
    color: var(--bodytextdark-color);
    margin: 0.7rem 0 0 0;
}
.footer.margin-bottom{
    margin-bottom: 2rem;
}

.contacts-container {
    display: flex;
    justify-content: center;  /* centers the images horizontally */
    align-items: center;
    gap: 2rem;                /* space between images */
    margin-top: 1rem;
}
.contacts{
    width: 2rem;
    height: 2rem;
    transform: scale(1);
    transition-property: all;
    transition-duration: .25s;
}
.contacts:hover{
    transform: scale(1.2);
    transition-property: all;
    transition-duration: .25s;
}



/* ABOUT PAGE */
.about-image-container{
    overflow: hidden;
}
.about-text{
    font-family: "Geist", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    color: var(--heading-color);
}
.about-inner-section.border{
    border-bottom-style: solid;
    border-bottom-width: 0.3px;
    border-bottom-color: var(--bodytextdark-color);
}
.about-inner-section{
    transform: translateY(40px);
    opacity: 0;
    transition-property: all;
    transition-duration: .5s;
}
.about-inner-section.show{
    transform: translateY(0);
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.arrow-button{
    display:inline-block;
    transform-origin: left center;
    position: relative;
    color: var(--heading-color);
}
.arrow-button.arrow-button-hero{
    color: var(--heading-color);
}
.arrow-button.arrow-button-hero:hover{
    color: var(--blue-button);
}
.arrow-button:hover{
    color: var(--blue-button);
}
.arrow-button:hover .text-arrow {
    transform: translate(10px);
}
.text-arrow {
    display: inline-block;
    transform: translate(0);
    transition: transform 0.25s;
}



/* CARDIO PAGE  */
.cover-image-container{
    overflow: hidden;
}
.cover-image{
    width: 100%;
    height: auto;
    transform: scale(1.03);
}
.project-analysis-individual-container{
    width: 100%;
}
.project-analysis-toc-container{
    margin-top: 1rem;
    position: sticky;
    height: 5rem;
    top: 15rem;
}
.project-analysis-toc{
    display: block;
    color: var(--bodytextdark-color);
    transition-property: all;
    transition-duration: .25s;
    text-decoration: none;

    margin-bottom: 1.5rem;
}
.project-analysis-toc:hover{
    color: var(--heading-color);
    transform: translate(5px);
    transition-property: all;
    transition-duration: .25s;
}
.slogan-big-container{
    width: 100%;
    display: grid;
    align-items: center;
}
.fh-image-container{
    width: 100%;
    overflow: hidden;
    border-radius: 1.5rem;
}
.fh-image{
    display: block;
    width: 100%;
    height: auto;
}
.project-analysis-container{
    margin-right: 0rem;
}
.body-text.margin-bottom{
    margin-bottom: 2rem;
}
.body-text.no-margin-bottom{
    margin-bottom: 0;
}
.project-analysis-context-vid{
    transition-property: all;
    transition-duration: .25s;
}
.project-analysis-context-vid:hover{
    filter: brightness(80%);
    transition-property: all;
    transition-duration: .25s;
}
.statement-container{
    background: linear-gradient(to right, #34772E, #098A73);
}
.statement-container.jackalope{
    background: linear-gradient(to right, #1BADFF, #005CE5);
}
.solution-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.solution-image{
    filter: drop-shadow(0px 0px 7px rgb(0,0,0,0.07));
    cursor: pointer;
}
.solution-image.flex-start{
    margin-left: 0;
    justify-self: flex-start;
}
.solution-image.full-width{
    width: 100%;
}
.sketch{
    width: 100%;
    height: auto;
    cursor: pointer;

    border-radius: 1rem;
}
.sketch.no-pointer{
    cursor:auto;
}
.sketch.center{
    justify-self: center;
    align-self: center;
}
.sketch.smaller{
    width: 80%;
    height:auto;
    text-align: center;
}
.sketch.much-smaller{
    width: 60%;
    height:auto;
    text-align: center;
}
.sketch.sketch-margin-top{
    margin-top: 1rem;
}
.draft-container{
    width: 100%;
    text-align: center;

    margin-bottom: 4rem;
}
.draft-vid-container{
    display: flex;
    justify-content: center;
}
.body-text.decorated-title{
    width: fit-content;
    background: linear-gradient(to right, #12B147, #072B71);
    border-radius: 100rem;
}
.body-text.decorated-title.jackalope-decorated-title{
    background: linear-gradient(to right, #1792D8, #072B71);
}
.body-text.decorated-title.no-margin-top{
    margin-top: 0;
}

.body-text.margin-top{
    margin-top: 4rem;
}
.body-text.one-margin-top{
    margin-top: 1rem;
}
.heuristic-container{
    margin-bottom: 5rem;
}
.heuristic-image{
    transition-property: all;
    transition-duration: .25s;
    border: 1px solid rgb(60, 60, 60);

    border-radius: 1rem;
}
.heuristic-image.margin-top{
    margin-top: 2rem;
}
.heuristic-text-container{
    text-align: center;
}
.issue-container.quote{
    background-color: var(--heading2-color);
    overflow: hidden;
    display: grid;
    align-items: center;
}
.interview-insight-container{
    align-content: center;
    justify-content: center;
}
.refined-interface-container{
    position: relative;
    display: block;
    overflow: hidden;
}
.refined-interface{
    display: block;
    width: 100%;
    height: auto;
    transition-property: all;
    transition-duration: .25s;
    filter: brightness(100%);
}
.refined-interface-container:hover .refined-interface{
    transition-property: all;
    transition-duration: .25s;
    transform: scale(1.05);
    filter: brightness(40%);
}
.body-text.refined-interface-text{
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.project-analysis-individual-container.other{
    padding-top: 3.5rem;
    margin-bottom: 4rem;
}



.grid{
    display: grid;
}
.grid.project-analysis-research-three-column.no-row-gap{
    row-gap: 0rem;
    margin-bottom: 6rem;
}
.grid.heuristic-image-container.no-row-gap{
    row-gap: 0;
}
.grid.heuristic-image-container.no-column-gap{
    column-gap: 0;
}
.grid.heuristic-image-container.one-column-gap{
    column-gap: 1rem;
}
.grid.heuristic-image-container.grid-no-margin-top-bottom{
    margin-top: 0;
    margin-bottom: 0;
}
.grid.heuristic-image-container.grid-two-margin-top{
    margin-top: 2rem;
}
.grid.project-analysis-research-three-column.one-column-gap{
    column-gap: 1rem;
}
.grid.project-analysis-research-three-column.two-margin-top{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.grid.project-analysis-research-three-column.one-margin-top{
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.grid.project-analysis-jackalopesketch-two-column.no-margin-bottom{
    margin-bottom: 0;
}
.grid.context-vid-four-column.no-margin-top{
    margin-top: 0;
}

.other-container{
    display: grid;
}

/* BREAKPOINT 1 */
@media (min-width: 20rem) {
    /* NAV BAR */
    .nav-container{
        padding: 2rem 0 0 0;
    }
    .button-nav{
        font-size: 0.8rem;
        padding: 0.7rem 0.7rem 0.7rem 0.7rem;
        border-radius: 1000rem;
    }
    .nav-inner-container{
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    /* HOMEPAGE - HERO SECTION */
    p{
        font-size: 0.8rem;
    }
    li{
        font-size: 0.8rem;
    }
    .grey-mobile{
        color: var(--bodytext-color);
    }
    .bold{
        font-weight: 400;
    }
    .more-bold{
        font-weight: 500;
    }
    .button{
        font-size: 0.8rem;
    }
    .button.button-2{
        margin-left: 0rem;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
    .face-container{
        display: none;
    }
    .hero-section{
        margin-top: 0rem;
    }
    .hero-container{
        padding-left: 4rem;
        padding-right: 4rem;
        height: 40rem;
    }
    .hero-text{
        display: block; 

        font-size: 1.8rem;
        line-height: 2.5rem;
        margin-top: 0;
        margin-bottom: 0;
        /* padding-right: 3rem; */
        letter-spacing: -1px;
    }
    .hero-highlight{
        font-size: 1.55rem;
        padding: 0.3rem 1rem 0.3rem 1rem;
    }
    .hero-highlight.tags{
        font-size: 0.8rem;
        padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    }
    .hero-highlight.tags.margin-right{
        margin-right: 0.3rem;
    }
    .hero-text-smaller{
        font-weight: 300;
        display: block; 

        margin-top: 2rem;
        font-size: 1rem;
        line-height: 1.7rem;
    }
    .hero-text-smaller.sub{
        margin-right: 0rem;
    }
    .arrow-button.arrow-button-hero{
        font-size: 1rem;
    }
    .arrow-button.exp{
        font-size: 1rem;
    }
    .hero-text-smaller.hero-no-margin-top{
        margin-top: 0rem;
    }
    .grid.intro-two-column{
        grid-template-columns: 1fr;
        width: 100%;
        height:auto;
    
        column-gap: 0rem;
    }
    
    /* HOMEPAGE - PROJECT SECTION */
    .project-section{
        margin: 9rem 2rem 5rem 2rem;
    }
    .project-section-2{
        margin: 9rem 2rem 5rem 2rem;
    }
    .homepage-project-name{
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    .homepage-project-info-container{
        flex-direction: column;
    }
    .homepage-project-info{
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .homepage-project-info.info-margin-left{
        margin-left: 0rem;
    }
    #cardio-cover-1{
        visibility: hidden;
        display: none;
    }
    #cardio-cover-2{
        visibility: visible;
        display: block;
    }
    #jackalope-cover-1{
        visibility: hidden;
        display: none;
    }
    #jackalope-cover-2{
        visibility: visible;
        display: block;
    }
    .homepage-project-image-container{
        margin-top: 1.3rem;
        border-radius: 0.5rem;
    }
    .homepage-project-des{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 2.5rem;
        font-weight: 400;
        font-size: 2rem;
    }
    .vault-thumbnail-container{
        border-radius: 0.5rem;
        margin-bottom: 0.7rem;
    }
    .vault-info{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        line-height: 1rem;
    }
    .vault-info-big{
        font-size: 1.2rem;
        margin-top: 0.7rem;
        margin-bottom: 0.5rem;
        line-height: 1.6rem;
    }
    .homepage-project-info.vault{
        margin-top: 0.5rem;
    }
    .grid.thumbnail-two-column{
        grid-template-columns: 1fr;
        width:100%;
        height:auto;
    
        column-gap: 0rem;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
    /* ABOUT PAGE */
    .about-section{
        margin: 9rem 3rem 5rem 3rem;
    }
    .about-image-container{
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        align-self: center;
        justify-self: center;
        border-radius: 1rem;
    }
    .grid.about-two-column{
        grid-template-columns: 1fr;
        width: 100%;
        height:auto;
        border-bottom-style: solid;
        border-bottom-width: 0.3px;
        border-bottom-color: var(--bodytextdark-color);
    
        column-gap: 0rem;
        padding-bottom: 3rem;
    }
    .about-image{
        width: 100%;
        height: 100%;
    }
    .hello-container{
        height: 5.5rem;
    }
    .about-text{
        font-size: 2rem;
        line-height: 2.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .hello-container{
        height: 5.5rem;
        text-align: center;
    }
    .grid.about-image-grid{
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        margin-top: 2rem;
        row-gap: 1rem;
        column-gap: 1rem;
    }
     .about-2-container{
        aspect-ratio: 1 / 1;
        overflow: hidden;
    }
    .about-image-2{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 0.5rem;
        filter: brightness(100%);
    }
    .about-inner-section{
        padding-bottom: 4rem;
    }

    /* CARDIO PAGE */
    .cover-image-section{
        margin: 6rem 2rem 0 2rem;
    }
    .cover-image-1{
        display: none;
    }
    .cover-image-2{
        display: block;
    }
    .cover-image-container{
        border-radius: 0.5rem;
        width: 100%;
        height: auto;
    }
    .body-text.slightly-bigger.slogan{
        margin-top: 4rem;
        margin-bottom: 0;
    }
    .project-analysis-section{
        margin: 0 2rem 0 2rem;
    }
    .project-analysis-heading-container{
        position: static;
        height: 0rem;
        top: 0rem;
    }
    .project-analysis-toc-container{
        display: none;
    }
    .project-analysis-heading{
        font-size: 2.5rem;
        font-weight: 500;
    }
    .project-analysis-individual-container{
        padding-top: 1rem;
        padding-bottom: 5rem;
        border-bottom-style: solid;
        border-bottom-width: 0.3px;
        border-bottom-color: var(--bodytextdark-color);
    }
    .project-analysis-overview-vid-container{
        justify-content: center;
        display: flex;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
    .project-analysis-overview-vid{
        width: 50%;
        height: auto;
        border-radius: 0.6rem;
        margin-left: 0.5rem;
    }
    .project-analysis-context-vid{
        filter: brightness(100%);
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
    }
    .project-analysis-section-name{
        font-size: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .solution-image-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .solution-image{
        width: 30%;
        height: auto;
        border-radius: 0.5rem;
        margin-left: 0.5rem;
    }
    .draft-vid{
        width: 30%;
        height: auto;
        border-radius: 0.5rem;
        margin-right: 0.5rem;
    }
    .body-text{
        margin-top: 0;
        margin-bottom: 0.5rem;
        line-height: 1.2rem;
    }
    .body-text.slightly-bigger{
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
        line-height: 1.3rem;
    }
    .body-text.bigger{
        font-size: 1rem;
        line-height: 1.4rem;
    }
    .body-text.extremely-bigger{
        font-size: 1.9rem;
        line-height: 2.6rem;
        margin-bottom: 2.5rem;
    }
    .body-text.extremely-bigger.exp{
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    .body-text.indent{
        margin-left: 0rem;
    }
    .body-text.decorated-title{
        font-size: 0.8rem;
        padding: 1rem 1.2rem 1rem 1.2rem;
        margin-bottom: 2rem;
        margin-top: 4rem;
        margin-right: 1rem;
    }
    .statement-container{
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 1.7rem;
    }
    .solution-image.solution-image-final{
        width: 100%;
        margin-left: 0;
        justify-self: center;
    }
    .issue-container{
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 1rem;
        height: 15rem;
    }
    .flex{
        display: block;
        align-items: center;

        margin-top: 2rem;
    }
    .flex.home-flex{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .heuristic-image{
        width: 100%;
        height: auto;
    }
    .heuristic-text-container{
        padding: 0 2rem 0 2rem;
    }
    .body-text.refined-interface-text{
        font-size: 0.8rem;
    }
    .refined-interface-container{
        border-radius: 0.5rem;
        margin-bottom: 0rem;
    }
    .john{
        justify-self: center;
    
        width: 7rem;
        height: auto;
        margin-top: 0rem;
    }
    .persona-container{
        grid-row: 2;
        margin-top: 2rem;
    }
    #outcome-1{
        grid-row: 1;
    }
    #outcome-2{
        grid-row: 3;
    }
    #outcome-11{
        grid-row: 2;
    }
    #outcome-22{
        grid-row: 4;
    }
    .grid.project-analysis-two-column{
        grid-template-columns: 1fr;
        margin-top: 1.5rem;
        column-gap: 0rem;
    }
    .grid.project-analysis-overview-two-column{
        grid-template-columns: 1fr;
    
        column-gap: 0rem;
        margin-top: 3rem;
        width: 100%;
    }
    .grid.project-analysis-overview-info-two-column{
        grid-template-columns: 1fr 1.5fr;
    
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .grid.context-vid-four-column{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    
        margin-top: 2rem;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    .grid.project-analysis-solution1-two-column{
        grid-template-columns: 1fr;
        background-color: var(--bodytextlight-color);
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 2rem;
        margin-bottom: 2rem;
        column-gap: 0rem;
    }
    .grid.project-analysis-solution1-two-column.black-background{
        background-color: var(--heading2-color);
        border: 2px solid rgb(25, 25, 25);
    }
    .grid.project-analysis-research-two-column{
        grid-template-columns: 1fr;
    
        column-gap: 0rem;
        row-gap: 1rem;
    }
    .grid.project-analysis-user-two-column{
        grid-template-columns: 1fr;
    
        column-gap: 1rem;
    }
    .grid.project-analysis-research-three-column{
        grid-template-columns: 1fr;
    
        column-gap: 0rem;
        row-gap: 2rem;
    }
    .grid.sketches-three-column{
        grid-template-columns: 1fr;
    
        row-gap: 2rem;
        column-gap: 0rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .grid.heuristic-image-container{
        grid-template-columns: 1fr;
    
        row-gap: 1rem;
        margin-top: 3rem;
        margin-bottom: 1.3rem;
    }
    .grid.work-experience{
        grid-template-columns: 1fr;

        row-gap: 0rem;
        margin-top: 2rem;
        margin-bottom: 1.3rem;
    }
    .grid.project-analysis-research-three-column.more-projects{
        row-gap: 2rem;
        column-gap: 0;
    }
    .grid.project-analysis-jackalopesketch-two-column{
        grid-template-columns: 1fr;
    
        column-gap: 0rem;
        row-gap: 0rem;
        margin-bottom: 2rem;
    }
    .grid.project-analysis-jackalopesketch-two-column-reversed{
        grid-template-columns: 1fr;
    
        column-gap: 2rem;
        margin-bottom: 2rem;
    }
    .grid.project-analysis-jackalopesketch-two-column-reversed.grid-john{
        background-color: var(--heading2-color);
        border-radius: 2rem;
        padding:1rem 1rem 2rem 1rem;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
    .grid.response-three-column{
        grid-template-columns: 1fr;
        column-gap: 0;
        margin-bottom: 4rem;
    }
}

/* BREAKPOINT 2 */
@media (min-width: 30rem) {
}

/* BREAKPOINT 3 */
@media (min-width: 32rem) {
}

/* BREAKPOINT 4 */
@media (min-width: 64rem) {
    /* NAV BAR */
    .nav-container{
        padding: 1.5rem 0 0 0;
    }
    .nav-container.left{
        padding: 1.5rem 0 0 2.5rem;
        flex-direction: column;
        align-items: start;
    }
    .button-nav{
        font-size: 0.9rem;
        padding: 0.8rem 1rem 0.8rem 1rem;
        border-radius: 1000rem;
    }
    .nav-inner-container{
        padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    }
    .nav-project{
        margin-right: 0.5rem;
    }
    /* HOMEPAGE - HERO SECTION */
    p{
        font-size: 1rem;
    }
    li{
        font-size: 1rem;
    }
    .grey-mobile{
        color: var(--bodytextdark-color);
    }
    .bold{
        font-weight: 400;
    }
    .more-bold{
        font-weight: 500;
    }
    .button{
        font-size: 1rem;
    }
     .button.button-2{
        margin-left: 5rem;
        margin-top: unset;
        margin-bottom: unset;
    }
    .face-container{
        display: block;
    }
    .hero-section{
        margin-top: 0rem;
    }
    .hero-container{
        padding-top: 2rem;
        padding-left: 15rem;
        padding-right: 15rem;
        height: 42rem;
    }
    .hero-text{
        display: block; 
        
        font-size: 3.7rem;
        line-height: 4.6rem;
        margin-top: 0;
        margin-bottom: 0rem;
        /* padding-right: 20rem; */
    }
    .hero-highlight{
        font-size: 3.2rem;
        padding: 0.8rem 2rem 0.8rem 2rem;
    }
    .hero-highlight.tags{
        font-size: 1rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
    .hero-highlight.tags.margin-right{
        margin-right: 1rem;
    }
    .hero-text-smaller{
        display: block; 
        overflow: hidden;

        margin-top: 4rem;
        font-size: 1rem;
        line-height: 1.8rem;
        padding-left: 12rem;
        padding-right: 12rem;
    }
    .arrow-button.arrow-button-hero{
        font-size: 1rem;
    }
    .arrow-button.exp{
        font-size: 1.2rem;
    }
    .hero-text-smaller.hero-no-margin-top{
        margin-top: 0;
    }
    .grid.intro-two-column{
        grid-template-columns: 1fr 5fr;
        width: 100%;
        height:auto;
    
        column-gap: 1rem;
    }

    /* HOMEPAGE - PROJECT SECTION */
    .project-section{
        margin: 0 13rem 15rem 13rem;
    }
    .project-section-2{
        margin: 0 12rem 15rem 12rem;
    }
    .homepage-project-name{
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }
    .homepage-project-info-container{
        flex-direction: row;
    }
    .homepage-project-info{
        line-height: 1.6rem;
    }
    .homepage-project-info.info-margin-left{
        margin-left: 5rem;
    }
    #cardio-cover-1{
        visibility: visible;
        display: block;
    }
    #cardio-cover-2{
        visibility: hidden;
        display: none;
    }
    #jackalope-cover-1{
        visibility: visible;
        display: block;
    }
    #jackalope-cover-2{
        visibility: hidden;
        display: none;
    }
    .homepage-project-image-container{
        margin-top: 2rem;
        border-radius: 1rem;
    }
    .homepage-project-des{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 2.5rem;
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.7rem;
    }
    .vault-thumbnail-container{
        border-radius: 1rem;
        margin-bottom: 0rem;
    }
    .vault-info{
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        line-height: 1.7rem;
    }
    .vault-info-big{
        font-size: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        line-height: 2.1rem;
    }
    .homepage-project-info.vault{
        margin-top: 0rem;
    }
    .grid.thumbnail-two-column{
        grid-template-columns: 1fr 1.75fr;
        width:100%;
        height:auto;
    
        column-gap: 2rem;
        margin-top: 3rem;
        margin-bottom: 0;
    }
    /* ABOUT PAGE */
    .about-section{
        margin: 9rem 30rem 6rem 30rem;
    }
    .about-image-container{
        width: 100%;
        height: auto;
        align-self: center;
        justify-self: center;
        border-radius: 1rem;
        margin-top: 4rem;
    }
    .about-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .about-info-container{
        padding: 0 0 0 0;
    }
    .about-text{
        font-size: 3rem;
        line-height: 4rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .hello-container{
        height: unset;
        text-align: center;
    }
    .grid.about-image-grid{
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
        margin-top: 4rem;
    }
    .about-2-container{
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: 0.7rem;
    }
    .about-image-2{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        filter: brightness(80%);
    }
    .about-inner-section{
        padding-bottom: 6rem;
    }

    /* CARDIO PAGE */
    .cover-image-section{
        margin: 6rem 2.5rem 0 2.5rem;
    }
    .cover-image-1{
        display: block;
    }
    .cover-image-2{
        display: none;
    }
    .cover-image-container{
        border-radius: 1.5rem;
        width: 100%;
        height: auto;
    }
    .body-text.slightly-bigger.slogan{
        margin-top: 0;
        margin-bottom: 0;
    }
    .john{
        justify-self: center;
    
        width: 15rem;
        height: auto;
        margin-top: 4rem;
    }
    .project-analysis-section{
        margin: 0 2.5rem 0 2.5rem;
    }
    .project-analysis-heading-container{
        position: sticky;
        height: 7rem;
        top: 7rem;
    }
    .project-analysis-toc-container.for-fh{
        top: 22rem;
    }
    .project-analysis-heading-container.for-fh{
        height: 14rem;
    }
    .project-analysis-toc-container{
        display: block;
    }
    .project-analysis-heading{
        font-size: 3.1rem;
    }
    /* .project-analysis-heading.heading-smaller{
        font-size: 2rem;
        line-height: 2.3rem;
    } */
    .project-analysis-overview-vid-container{
        display: flex;
        margin-bottom: 2rem;
        margin-top: 0rem;
    }
    .project-analysis-overview-vid{
        width: 12rem;
        height: auto;
        border-radius: 1.3rem;
        margin-left: 1rem;
    }
    .project-analysis-context-vid{
        filter: brightness(50%);
        width: 100%;
        height: auto;
        border-radius: 0.7rem;
    }
    .project-analysis-section-name{
        font-size: 1.9rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .solution-image{
        width: 12rem;
        height: auto;
        border-radius: 1.6rem;
        margin-left: 1rem;
    }
    .draft-vid{
        width: 16rem;
        height: auto;
        border-radius: 2rem;
        margin-right: 1rem;
    }
    .body-text{
        margin-top: 0;
        margin-bottom: 0.5rem;
        line-height: 1.6rem;
    }
    .body-text.slightly-bigger{
        font-size: 1.3rem;
        margin-bottom: 2rem;
        margin-top: 4rem;
        line-height: 1.7rem;
    }
    .body-text.bigger{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .body-text.extremely-bigger{
        font-size: 3rem;
        line-height: 3.7rem;
        margin-bottom: 2.5rem;
    }
    .body-text.extremely-bigger.exp{
        margin-top: 5rem;
    }
    .body-text.indent{
        margin-left: 2rem;
    }
    .body-text.decorated-title{
        font-size: 0.9rem;
        padding: 0.8rem 1.5rem 0.8rem 1.5rem;
        margin-bottom: 2rem;
        margin-top: 4rem;
        margin-right: 1rem;
    }
    .statement-container{
        padding: 2rem 5rem 2rem 5rem;
        border-radius: 1.7rem;
    }
    .solution-image.solution-image-final{
        width: 100%;
        margin-left: 0;
        justify-self: end;
    }
    .issue-container{
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 1.8rem;
        height: 21rem;
    }
    .issue-container.quote{
        padding: 2rem 3rem 2rem 3rem;
    }
    .issue-container.smaller{
        padding: 1rem 1.5rem 1rem 1.5rem;
        border-radius: 0.8rem;
    }
    .cta{
        margin-left: 9rem;
        margin-right: 9rem;
    }
    .flex{
        display: flex;
        align-items: center;

        margin-top: 4rem;
    }
    .flex.home-flex{
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .heuristic-image{
        width: 90%;
        height: auto;
    }
    .heuristic-text-container{
        padding: 0 9rem 0 9rem;
    }
    .body-text.refined-interface-text{
        font-size: 1.2rem;
    }
    .refined-interface-container{
        border-radius: 1.5rem;
        margin-bottom: -1rem;
    }
    .persona-container{
        grid-row: auto;
        margin-top: 0;
    }
    #outcome-1{
        grid-row: auto;
    }
    #outcome-2{
        grid-row: auto;
    }
    #outcome-11{
        grid-row: auto;
    }
    #outcome-22{
        grid-row: auto;
    }
    .grid.project-analysis-two-column{
        grid-template-columns: 1fr 5fr;
        margin-top: 4rem;
        column-gap: 6rem;
    }
    .grid.project-analysis-overview-two-column{
        grid-template-columns: 2fr 1fr;
    
        column-gap: 2rem;
        margin-top: 3rem;
        width: 100%;
    }
    .grid.project-analysis-overview-two-column.for-fh{
        grid-template-columns: 1.5fr 1fr;
    }
    .grid.project-analysis-overview-two-column.user{
        column-gap: 1rem;
    }
    .grid.project-analysis-overview-info-two-column{
        grid-template-columns: 1fr 1.5fr;
    
        margin-top: 3rem;
        margin-bottom: 4rem;
        width: 80%;
    }
    .grid.context-vid-four-column{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        margin-top: 4rem;
        column-gap: 1rem;
    }
    .grid.project-analysis-solution1-two-column{
        grid-template-columns: 1fr 1fr;
        background-color: var(--bodytextlight-color);
        padding: 2rem 2rem 2rem 3rem;
        border-radius: 3rem;
        margin-bottom: 2rem;
        column-gap: 2rem;
    }
    .grid.project-analysis-solution1-two-column.black-background{
        background-color: var(--heading2-color);
    }
    .grid.project-analysis-research-two-column{
        grid-template-columns: 1fr 1fr;
    
        column-gap: 4rem;
        row-gap: 1rem;
    }
    .grid.project-analysis-user-two-column{
        grid-template-columns: 1fr 1fr;
    
        column-gap: 1rem;
    }
    .grid.project-analysis-research-three-column{
        grid-template-columns: 1fr 1fr 1fr;
    
        column-gap: 4rem;
        row-gap: 2rem;
    }
    .grid.sketches-three-column{
        grid-template-columns: 3fr 2.2fr 1fr;
    
        column-gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .grid.heuristic-image-container{
        grid-template-columns: 1fr 1fr;
    
        row-gap: 2rem;
        column-gap: 2rem;
        margin-top: 3rem;
        margin-bottom: 1.8rem;
    }
    .grid.work-experience{
        grid-template-columns: 1fr 1.5fr;

        row-gap: 2rem;
        column-gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 1.8rem;
    }
    .grid.project-analysis-research-three-column.more-projects{
        row-gap: 2.5rem;
        column-gap: 2rem;
    }
    .grid.project-analysis-jackalopesketch-two-column{
        grid-template-columns: 1fr 3fr;
    
        column-gap: 2rem;
        row-gap: 1rem;
        margin-bottom: 2rem;
    }
    .grid.project-analysis-jackalopesketch-two-column.more-row-gap{
        row-gap: 3rem;
    }
    .grid.project-analysis-jackalopesketch-two-column-reversed{
        grid-template-columns: 1.7fr 1fr;
    
        column-gap: 2rem;
        margin-bottom: 2rem;
    }
    .grid.project-analysis-jackalopesketch-two-column-reversed.grid-john{
        background-color: var(--heading2-color);
        border-radius: 2rem;
        padding:4rem 3rem 5rem 5rem;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
    .grid.response-three-column{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        margin-bottom: 4rem;
    }
    .grid.response-two-column{
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        margin-bottom: 4rem;
    }
    .grid.project-grid{
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;
        margin-bottom: 1rem;
    }
}

/* BREAKPOINT 5 */
@media (min-width: 95rem) {
    /* NAV BAR */
    .button-nav{
        font-size: 1rem;
    }
    .nav-container{
        padding: 1.2rem 1rem 1.2rem 1rem;
    }
    .nav-project{
        margin-right: 2rem;
    }
    /* HOMEPAGE - HERO SECTION */
    p{
        font-size: 1.1rem;
    }
    li{
        font-size: 1.1rem;
    }
    .grey-mobile{
        color: var(--bodytextdark-color);
    }
    .bold{
        font-weight: 400;
    }
    .more-bold{
        font-weight: 500;
    }
    .button{
        font-size: 1rem;
    }
     .button.button-2{
        margin-left: 5rem;
        margin-top: unset;
        margin-bottom: unset;
    }
    .face-container{
        display: block;
    }
    .hero-section{
        margin-top: 0rem;
    }
    .hero-container{
        padding-top: 2rem;
        padding-left: 22rem;
        padding-right: 22rem;
        height: 42rem;
    }
    .hero-text{
        display: block; 
        
        font-size: 3.7rem;
        line-height: 4.6rem;
        margin-top: 0;
        margin-bottom: 0rem;
    }
    .hero-highlight{
        font-size: 3.2rem;
        padding: 0.8rem 2rem 0.8rem 2rem;
    }
    .hero-highlight.tags{
        font-size: 1rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
    .hero-highlight.tags.margin-right{
        margin-right: 1rem;
    }
    .hero-text-smaller{
        display: block; 
        overflow: hidden;

        margin-top: 4rem;
        font-size: 1.5rem;
        line-height: 1.9rem;
    }
    .hero-text-smaller.sub{
        margin-right: 52rem;
    }
    .arrow-button.arrow-button-hero{
        font-size: 1.5rem;
    }
    .arrow-button.exp{
        font-size: 1.7rem;
    }
    .hero-text-smaller.hero-no-margin-top{
        margin-top: 0;
    }
    .grid.intro-two-column{
        grid-template-columns: 1fr 5fr;
        width: 100%;
        height:auto;
    
        column-gap: 1rem;
    }

    /* HOMEPAGE - PROJECT SECTION */
    .project-section{
        margin: 9rem 17rem 15rem 17rem;
    }
    .project-section-2{
        margin: 9rem 17rem 15rem 17rem;
    }
    .homepage-project-name{
        margin-bottom: 0;
        font-size: 1.5rem;
    }
    .homepage-project-info-container{
        flex-direction: row;
    }
    .homepage-project-info{
        margin-top: 0;
        margin-bottom: 0;
    }
    .homepage-project-info.info-margin-left{
        margin-left: 5rem;
    }
    #cardio-cover-1{
        visibility: visible;
        display: block;
    }
    #cardio-cover-2{
        visibility: hidden;
        display: none;
    }
    #jackalope-cover-1{
        visibility: visible;
        display: block;
    }
    #jackalope-cover-2{
        visibility: hidden;
        display: none;
    }
    .homepage-project-image-container{
        margin-top: 0;
        border-radius: 1.3rem;
    }
    .homepage-project-des{
        font-size: 2.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 1.7rem;
    }
    .vault-thumbnail-container{
        border-radius: 1.3rem;
        margin-bottom: 0rem;
    }
    .vault-info{
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        line-height: 2rem;
    }
    .grid.thumbnail-two-column{
        grid-template-columns: 1fr 1.8fr;
        width:100%;
        height:auto;
    
        column-gap: 2.5rem;
        margin-top: 3rem;
        margin-bottom: 0;
    }
    /* ABOUT PAGE */
    .about-section{
        margin: 9rem 32rem 6rem 32rem;
    }
    .about-image-container{
        width: 100%;
        height: auto;
        align-self: center;
        justify-self: center;
        text-align: center;
        border-radius: 1rem;
        margin-top: 4rem;
    }
    .about-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .about-info-container{
        padding: 0 0 0 0;
    }
    .about-text{
        font-size: 3.5rem;
        line-height: 4rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .hello-container{
        height: unset;
        text-align: center;
    }
    .grid.about-image-grid{
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
        margin-top: 4rem;
    }
    .about-2-container{
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: 0.7rem;
    }
    .about-image-2{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        filter: brightness(80%);
    }
    .about-inner-section{
        padding-bottom: 5rem;
    }


    /* CARDIO PAGE */
    .cover-image-section{
        margin: 6rem 8.5rem 0 8.5rem;
    }
    .cover-image-1{
        display: block;
    }
    .cover-image-2{
        display: none;
    }
    .cover-image-container{
        border-radius: 1.5rem;
        width: 100%;
        height: auto;
    }
    .body-text.slightly-bigger.slogan{
        margin-top: 0;
        margin-bottom: 0;
    }
    .john{
        justify-self: center;
    
        width: 18rem;
        height: auto;
        margin-top: -1rem;
    }
    .project-analysis-section{
        margin: 0 8.5rem 0 8.5rem;
    }
    .project-analysis-heading-container{
        position: sticky;
        height: 7rem;
        top: 7rem;
    }
    .project-analysis-toc-container.for-fh{
        top: 23rem;
    }
    .project-analysis-heading-container.for-fh{
        height: 15rem;
    }
    .project-analysis-toc-container{
        display: block;
    }
    .project-analysis-heading{
        font-size: 3.5rem;
    }
    .project-analysis-overview-vid-container{
        display: flex;
        margin-bottom: 2rem;
        margin-top: 0rem;
    }
    .project-analysis-overview-vid{
        width: 18rem;
        height: auto;
        border-radius: 1.3rem;
        margin-left: 1rem;
    }
    .project-analysis-context-vid{
        filter: brightness(50%);
        width: 100%;
        height: auto;
        border-radius: 0.7rem;
    }
    .project-analysis-section-name{
        font-size: 1.9rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .solution-image{
        width: 14rem;
        height: auto;
        border-radius: 1.6rem;
        margin-left: 1rem;
    }
    .draft-vid{
        width: 16rem;
        height: auto;
        border-radius: 2rem;
        margin-right: 1rem;
    }
    .body-text{
        margin-top: 0;
        margin-bottom: 0.5rem;
        line-height: 1.7rem;
    }
    .body-text.slightly-bigger{
        font-size: 1.7rem;
        margin-bottom: 2rem;
        margin-top: 4rem;
        line-height: 2rem;
    }
    .body-text.bigger{
        font-size: 2rem;
        line-height: 2.8rem;
    }
    .body-text.extremely-bigger{
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }
    .body-text.extremely-bigger.exp{
        margin-top: 4rem;
    }
    .body-text.indent{
        margin-left: 2rem;
    }
    .body-text.decorated-title{
        font-size: 1rem;
        padding: 1rem 1.7rem 1rem 1.7rem;
        margin-bottom: 2rem;
        margin-top: 4rem;
        margin-right: 1rem;
    }
    .statement-container{
        padding: 2rem 7rem 2rem 7rem;
        border-radius: 1.7rem;
    }
    .solution-image.solution-image-final{
        width: 100%;
        margin-left: 0;
        justify-self: end;
    }
    .issue-container{
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 2rem;
        height: 22rem;
    }
    .issue-container.quote{
        padding: 2rem 3rem 2rem 3rem;
    }
    .issue-container.smaller{
        padding: 1rem 1.5rem 1rem 1.5rem;
        border-radius: 1.2rem;
    }
    .cta{
        margin-left: 9rem;
        margin-right: 9rem;
    }
    .flex{
        display: flex;
        align-items: center;
    }
    .heuristic-image{
        width: 80%;
        height: auto;
    }
    .heuristic-text-container{
        padding: 0 9rem 0 9rem;
    }
    .body-text.refined-interface-text{
        font-size: 1.2rem;
    }
    .refined-interface-container{
        border-radius: 1.5rem;
        margin-bottom: -1rem;
    }
    .persona-container{
        grid-row: auto;
        margin-top: 0;
    }
    #outcome-1{
        grid-row: auto;
    }
    #outcome-2{
        grid-row: auto;
    }
    #outcome-11{
        grid-row: auto;
    }
    #outcome-22{
        grid-row: auto;
    }
    .grid.project-analysis-two-column{
        grid-template-columns: 1fr 4fr;
        margin-top: 4rem;
        column-gap: 6rem;
    }
    .grid.project-analysis-overview-two-column{
        grid-template-columns: 1.75fr 1fr;
    
        column-gap: 2rem;
        margin-top: 3rem;
        width: 100%;
    }
    .grid.project-analysis-overview-two-column.user{
        column-gap: 1rem;
    }
    .grid.project-analysis-overview-info-two-column{
        grid-template-columns: 1fr 1.5fr;
    
        margin-top: 3rem;
        margin-bottom: 4rem;
        width: 80%;
    }
    .grid.context-vid-four-column{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        margin-top: 4rem;
        column-gap: 1rem;
    }
    .grid.project-analysis-solution1-two-column{
        grid-template-columns: 1fr 1fr;
        background-color: var(--bodytextlight-color);
        padding: 2rem 2rem 2rem 3rem;
        border-radius: 3rem;
        margin-bottom: 2rem;
        column-gap: 2rem;
    }
    .grid.project-analysis-solution1-two-column.black-background{
        background-color: var(--heading2-color);
    }
    .grid.project-analysis-research-two-column{
        grid-template-columns: 1fr 1fr;
    
        column-gap: 4rem;
        row-gap: 1rem;
    }
    .grid.project-analysis-user-two-column{
        grid-template-columns: 1fr 1fr;
    
        column-gap: 1rem;
    }
    .grid.project-analysis-research-three-column{
        grid-template-columns: 1fr 1fr 1fr;
    
        column-gap: 4rem;
        row-gap: 2rem;
    }
    .grid.sketches-three-column{
        grid-template-columns: 3fr 2.2fr 1fr;
    
        column-gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .grid.heuristic-image-container{
        grid-template-columns: 1fr 1fr;
    
        row-gap: 2rem;
        column-gap: 2rem;
        margin-top: 3rem;
        margin-bottom: 1.8rem;
    }
    .grid.work-experience{
        grid-template-columns: 1fr 1.5fr;

        row-gap: 2rem;
        column-gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 1.8rem;
    }
    .grid.project-analysis-research-three-column.more-projects{
        row-gap: 2.5rem;
        column-gap: 2rem;
    }
    .grid.project-analysis-jackalopesketch-two-column{
        grid-template-columns: 1fr 3fr;
    
        column-gap: 2rem;
        row-gap: 1rem;
        margin-bottom: 2rem;
    }
    .grid.project-analysis-jackalopesketch-two-column.more-row-gap{
        row-gap: 3rem;
    }
    .grid.project-analysis-jackalopesketch-two-column-reversed{
        grid-template-columns: 1.7fr 1fr;
    
        column-gap: 2rem;
        margin-bottom: 2rem;
    }
    .grid.project-analysis-jackalopesketch-two-column-reversed.grid-john{
        background-color: var(--heading2-color);
        border-radius: 2rem;
        padding:4rem 3rem 5rem 5rem;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
    .grid.response-three-column{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        margin-bottom: 8rem;
    }
    .grid.response-two-column{
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        margin-bottom: 8rem;
    }
    .grid.project-grid{
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
