@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #c5c5c5;

    letter-spacing: 0.5px;
}
body{
    background-color: #171717;
}
h1{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #f1f1f1;

    letter-spacing: -1px;
    margin: 0 0 0 0;
}
h2{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    color: #e2e2e2;
}
p{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    color: #c5c5c5;
}
li{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    color: #c5c5c5;
}
ul{
    list-style-position: outside;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
}
.button{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    color: #a4a4a4;
    background-color: none;
    border-radius: 50rem;
    text-align: center;
    width: auto;
    height: auto;
    transition-property: all;
    transition-duration: .25s;
}
.button.button-margin-top{
    display: block;

    width: 8rem;
    margin-top: 2rem;
}
button.button.button-margin-top:hover{
    background-color: white;
    color: #171717;
    cursor: pointer;
}
.button:hover{
    color: #171717;
    background-color: #f1f1f1;

    border: 1px solid #f1f1f1;
}
.button.in-grid{
    display: flex;
    justify-content:center;
	align-items:center;

    width: 13rem;
    height: 1.5rem;
}
.justify-content-div{
    align-content: center;
    text-align: center;
    justify-content: center;
}
.justify-content-div.no-text{
    text-align: left;
}

.align-center-div{
    text-align: center;
}
.no-margin-top{
    margin-top: 0;
}
.project-analysis-text.slightly-bigger.one-margin-top{
    margin-top: 1rem;
}
.project-analysis-text.slightly-bigger.no-margin-top{
    margin-top: 0;
}
.project-analysis-text.slightly-bigger.one-margin-bottom{
    margin-bottom: 1rem;
}
.project-analysis-text.slightly-bigger.no-margin-bottom{
    margin-bottom: 0;
}
.relative{
    position: relative;
}
.icon{
    width: 90%;
    height: auto;
}
.icon-container{
    background-color: black;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 1rem;
}
.issue-container{
    background-color: black;
}
.issue-container.white{
    background-color: rgb(228, 228, 228);
}
.issue-container.dark-white{
    background-color: rgb(193, 193, 193);
}
.issue-container.green{
    background-color: rgb(32, 111, 59);
}
.issue-container.auto-height{
    height: auto;
    margin-bottom: 1rem;
}
.absolute{
    position: absolute;
    bottom: 2rem;
}

.grey{
    color: #a4a4a4;
}
.dark-grey{
    color: rgb(93, 93, 93);
}
.light-grey{
    color: white;
    opacity: 0.8;
}
.green{
    color:rgb(29, 188, 97);
}
.dark-green{
    color:rgb(15, 133, 66);
}
.blue{
    color: #1BADFF;
}
.black{
    color: #171717;
}
.white{
    color: white;
}
.orange{
    color: #e56300;
}
.center{
    text-align: center;
    justify-content: center;
}
.italic{
    font-style: italic;

    margin-top: 1rem;
}

/* NAV BAR */
.nav-container{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    width: 100%;

    top:3rem;
}
.button-nav{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    color: #f1f1f1;
}

/* HOMEPAGE */
/* HERO SECTION */
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.face-container{
    text-align: center;
    position:relative;
}
.eye-container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    width:100%;
    height: auto;
}
.eye-container.eye-container-about{
    text-align:left;
    justify-content:start;
    align-items: start;
}
.eye{
    display: flex;
    justify-content: center;
    align-items: center;    
    position: relative;

    width: 3rem;
    height:auto;
    margin-left: 0;
    margin-right: 0;
}
.eye-white{
    position: relative;

    width: 3rem;
    height: auto;
}
.ball{
    position: absolute;
    width: 1.7rem;
    height: auto;
}
.mouth{
    width: 1.5rem;
    height: auto;
    margin-top: 0.5rem;
}
.mouth.mouth-about{
    position: absolute;
    left: 2rem;
}
.hero-text {
    display: block; 
    white-space: normal; /* Ensure words can break naturally without breaking mid-word */
    overflow: hidden;
  }
  .hero-text .letter {
    display: inline;
    word-break: normal;
    transform: translateY(100%);
    opacity: 0;
    animation: slide-up 0.3s ease-out forwards;
  }
 
@keyframes slide-up {
from {
    transform: translateY(100%);
    opacity: 0;
}
to {
    transform: translateY(0);
    opacity: 1;
}
}

.emoji{
    opacity: 0;
    animation: emojianim 0.2s ease 2.7s forwards;
}
.emoji.inline{
    display: inline;
    transform: rotate(-90deg);
}

@keyframes emojianim {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/* PROJECTS SECTION */
.homepage-project-name{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #f1f1f1;
}
.homepage-project-info-container{
    display: flex;
    justify-content: space-between;
}
.homepage-project-info{
    color: #a4a4a4;
}
.homepage-project-info.no-margin-top{
    margin-top: 0;
}
.homepage-project-image-container{
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}
.homepage-project-image{
    display: block;
    width: 100%;
    height: auto;
    transition-property: all;
    transition-duration: .5s;
}
.homepage-project-image:hover{
    transform: scale(1.02);
    transition-property: all;
    transition-duration: .5s;
}
.homepage-project-des{
    color: #f1f1f1;
    text-align: center;
}
.vault-thumbnail-container{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    justify-self: center;
    align-self: center;
}
.vault-info-container{
    display: block;
    justify-self: center;
    align-self: center;
}
.vault-info{
    color: #f1f1f1;
}
.footer-container{
    text-align: right;
}
.footer{
    color: #a4a4a4;
}



/* ABOUT PAGE */
.about-image-container{
    overflow: hidden;
}
.about-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-text{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    color: #f1f1f1;
}


/* CARDIO PAGE  */
.cover-image-container{
    overflow: hidden;
}
.cover-image{
    width: 100%;
    height: auto;
    transform: scale(1.03);
}
.project-analysis-individual-container{
    width: 100%;
}
.project-analysis-toc-container{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #e2e2e2;

    margin-top: 1rem;
    position: sticky;
    height: 5rem;
    top: 15rem;
}
.project-analysis-toc{
    display: block;
    color: #a4a4a4;
    transition-property: all;
    transition-duration: .25s;

    letter-spacing: 0.5px;
    margin-bottom: 1.5rem;
}
.project-analysis-toc.toc-indent{
    size: 1rem;
    margin-left: 1rem;
}
.bold{
    font-weight: 400;
    letter-spacing: -0.4px;
}
.more-bold{
    font-weight: 500;
    letter-spacing: -0.7px;
}
.project-analysis-toc:hover{
    color: white;
}
.slogan-big-container{
    width: 100%;
    display: grid;
}
.project-analysis-slogan-container{
    margin-top: 3rem;
}

.project-analysis-container{
    margin-right: 0rem;
}
.project-analysis-text.margin-bottom{
    margin-bottom: 2rem;
}
.project-analysis-text.more-margin-bottom{
    margin-bottom: 3rem;
}
.project-analysis-context-vid{
    transition-property: all;
    transition-duration: .25s;
}
.project-analysis-context-vid:hover{
    filter: brightness(80%);
    transition-property: all;
    transition-duration: .25s;
}
.statement-container{
    background: linear-gradient(to right, #34772E, #098A73);
}
.statement-container.jackalope{
    background: linear-gradient(to right, #1BADFF, #005CE5);
}
.arrow{
    display: inline;
    margin-right: 0.5rem;
}
.solution-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.solution-image{
    filter: drop-shadow(0px 0px 7px rgb(0,0,0,0.07));
    cursor: pointer;
}
.solution-image.grey-border{
    border: 3px solid rgb(231, 231, 231);
}
.solution-image.black-border{
    border: 3px solid rgb(16, 16, 16);
}
.solution-image.flex-start{
    margin-left: 0;
    justify-self: flex-start;
}
.solution-image.full-width{
    width: 100%;
}
.sketch{
    width: 100%;
    height: auto;
    cursor: pointer;

    border-radius: 1rem;
}
.sketch.center{
    justify-self: center;
    align-self: center;
}
.sketch.smaller{
    width: 80%;
    height:auto;
    text-align: center;
}
.sketch.much-smaller{
    width: 60%;
    height:auto;
    text-align: center;
}
.sketch.sketch-margin-top{
    margin-top: 1rem;
}
.draft-container{
    width: 100%;
    text-align: center;

    margin-bottom: 4rem;
}
.draft-vid-container{
    display: flex;
    justify-content: center;
}
.project-analysis-text.decorated-title{
    width: fit-content;
    background: linear-gradient(to right, #12B147, #072B71);
    border-radius: 100rem;
}
.project-analysis-text.decorated-title.jackalope-decorated-title{
    background: linear-gradient(to right, #1792D8, #072B71);
}
.project-analysis-text.decorated-title.no-margin-top{
    margin-top: 0;
}

.project-analysis-text.margin-top{
    margin-top: 4rem;
}
.project-analysis-text.one-margin-top{
    margin-top: 1rem;
}
.heuristic-container{
    margin-bottom: 5rem;
}
.heuristic-image{
    width: 100%;
    height: auto;
    transition-property: all;
    transition-duration: .25s;
    border: 1px solid rgb(60, 60, 60);

    border-radius: 1rem;
}
.heuristic-image.margin-top{
    margin-top: 2rem;
}
.heuristic-text-container{
    text-align: center;
}
.issue-container.quote{
    background-color: black;
    /* text-align: center; */
    overflow: hidden;
    display: grid;
    align-items: center;
}
.interview-insight-container{
    align-content: center;
    justify-content: center;
}
.refined-interface-container{
    position: relative;
    display: block;
    overflow: hidden;
}
.refined-interface{
    display: block;
    width: 100%;
    height: auto;
    transition-property: all;
    transition-duration: .25s;
    filter: brightness(100%);
}
.refined-interface-container:hover .refined-interface{
    transition-property: all;
    transition-duration: .25s;
    transform: scale(1.05);
    filter: brightness(40%);
}
.project-analysis-text.refined-interface-text{
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pop-up-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 100;
}
.pop-up{
    background: #212121;
    text-align: center;
    border-radius: 3rem;
    width: 60%;
    height: 75%; /* Limit popup height */
    overflow-y: auto; /* Enable vertical scrolling */
    position: relative;
    z-index: 101;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.popup-content {
    max-height: 53vh; /* Limit height for scrolling */
    overflow-y: auto;
    border-radius: 3rem;

    margin: 2rem 12rem 4rem 12rem;
}
.popup-text-container{
    padding: 0 10rem 0 10rem;
}
.comment{
    width:100%;
    height: auto;

    margin-top: 1rem;
    border-radius: 2rem;
}
#closePopup1{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    cursor: pointer;
}
#closePopup2{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    cursor: pointer;
}
#closePopup3{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    cursor: pointer;
}



.grid{
    display: grid;
}
.grid.project-analysis-research-three-column.no-row-gap{
    row-gap: 0rem;
    margin-bottom: 6rem;
}
.grid.heuristic-image-container.no-row-gap{
    row-gap: 0;
}
.grid.heuristic-image-container.no-column-gap{
    column-gap: 0;
}
.grid.heuristic-image-container.one-column-gap{
    column-gap: 1rem;
}
.grid.heuristic-image-container.grid-no-margin-top-bottom{
    margin-top: 0;
    margin-bottom: 0;
}
.grid.project-analysis-research-three-column.one-column-gap{
    column-gap: 1rem;
}
.grid.project-analysis-research-three-column.two-margin-top{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.grid.project-analysis-research-three-column.one-margin-top{
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.grid.project-analysis-jackalopesketch-two-column.no-margin-bottom{
    margin-bottom: 0;
}
.grid.context-vid-four-column.no-margin-top{
    margin-top: 0;
}

.other-container{
    display: grid;
}

/* BREAKPOINT 1 */
@media (min-width: 19.5em) {
    /* NAV BAR */
    .button-nav{
        font-size: 0.8rem;
    }
    .nav-home{
        margin-left: 2rem;
    }
    .nav-about{
        margin-right: 2rem;
    }
    .nav-project{
        margin-right: 1.5rem;
    }
    /* HOMEPAGE - HERO SECTION */
    .emoji{
        display: inline;
        width: 1.8rem;
        height: auto;
        margin-bottom: 0rem;
    }
    p{
        letter-spacing: 0.5px;
        font-size: 0.8rem;
    }
    li{
        letter-spacing: 0.5px;
        font-size: 0.8rem;
    }
    .button{
        font-size: 0.8rem;
        letter-spacing: 0.5px;
        border: 1px solid #a4a4a4;
        padding:1rem 1.5rem 1rem 1.5rem;
    }
    .button.button-margin-left{
        margin-left: 1rem;
    }
    .face-container{
        display: none;
    }
    .hero-section{
        margin-top: 0rem;
    }
    .hero-container{
        padding-left: 2rem;
        padding-right: 0rem;
    }
    .hero-text{
        font-size: 1.8rem;
        line-height: 2.7rem;
        margin-top: 0;
        margin-bottom: 2rem;
        padding-right: 3rem;
    }
    .hero-text.hero-text-smaller{
        font-size: 1.3rem;
        line-height: 2rem;
        padding-right: 0rem;
    }
    .grid.intro-two-column{
        grid-template-columns: 1fr;
        width: 100%;
        height:auto;
    
        column-gap: 0rem;
    }
    .subtext{
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 4rem;
        padding-right: 3rem;
    }
    
    /* HOMEPAGE - PROJECT SECTION */
    .project-section{
        margin: 9rem 2rem 5rem 2rem;
    }
    .homepage-project-name{
        letter-spacing: -0.3px;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    .homepage-project-info-container{
        flex-direction: column;
    }
    .homepage-project-info{
        font-size: 0.8rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    .homepage-project-info.info-margin-left{
        margin-left: 0rem;
    }
    #cardio-cover-1{
        visibility: hidden;
        display: none;
    }
    #cardio-cover-2{
        visibility: visible;
        display: block;
    }
    #jackalope-cover-1{
        visibility: hidden;
        display: none;
    }
    #jackalope-cover-2{
        visibility: visible;
        display: block;
    }
    #capcut-cover-1{
        visibility: hidden;
        display: none;
    }
    #capcut-cover-2{
        visibility: visible;
        display: block;
    }
    .homepage-project-image-container{
        margin-top: 1.3rem;
        border-radius: 0.7rem;
    }
    .homepage-project-des{
        font-size: 0.8rem;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        line-height: 1.2rem;
    }
    .vault-thumbnail-container{
        border-radius: 0.5rem;
        margin-bottom: 0.7rem;
    }
    .vault-info{
        font-size: 0.8rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        line-height: 1rem;
    }
    .grid.thumbnail-two-column{
        grid-template-columns: 1fr;
        width:100%;
        height:auto;
    
        column-gap: 0rem;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
    .footer{
        margin-right: 2rem;
        margin-left: 6rem;
        margin-bottom: 6rem;
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
    /* ABOUT PAGE */
    .about-section{
        margin: 7rem 2rem 5rem 0;
    }
    .about-image-container{
        width: 100%;
        height: 15rem;
        border-radius: 1.5rem;
    }
    .grid.about-two-column{
        grid-template-columns: 1fr;
        width: 100%;
        height:auto;
    
        column-gap: 0rem;
    }
    .about-image{
        transform: translate(-5%, 30%) scale(1.6);
    }
    .about-text{
        font-size: 2rem;
        line-height: 2.5rem;
        margin-top: 2rem;
        margin-bottom: 0rem;
        letter-spacing: -0.8px;
    }
    /* CARDIO PAGE */
    .cover-image-section{
        margin: 6rem 2rem 0 2rem;
    }
    .cover-image-1{
        display: none;
    }
    .cover-image-2{
        display: block;
    }
    .cover-image-container{
        border-radius: 0.5rem;
        width: 100%;
        height: auto;
    }
    .project-analysis-text.slightly-bigger.slogan{
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .project-analysis-section{
        margin: 0 2rem 0 2rem;
    }
    .project-analysis-heading-container{
        position: static;
        height: 0rem;
        top: 0rem;
    }
    .project-analysis-toc-container{
        display: none;
    }
    .project-analysis-heading{
        font-size: 2.5rem;
    }
    .project-analysis-individual-container{
        padding-top: 1rem;
        padding-bottom: 5rem;
        border-bottom-style: solid;
        border-bottom-width: 0.3px;
        border-bottom-color: rgb(150, 150, 150);
    }
    .project-analysis-overview-vid-container{
        justify-content: center;
        display: flex;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
    .project-analysis-overview-vid{
        width: 50%;
        height: auto;
        border-radius: 0.6rem;
        margin-left: 0.5rem;
    }
    .project-analysis-context-vid{
        filter: brightness(100%);
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
    }
    .project-analysis-section-name{
        font-size: 1.5rem;
        letter-spacing: -0.5px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .solution-image-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .solution-image{
        width: 30%;
        height: auto;
        border-radius: 0.5rem;
        margin-left: 0.5rem;
    }
    .draft-vid{
        width: 30%;
        height: auto;
        border-radius: 0.5rem;
        margin-right: 0.5rem;
    }
    .project-analysis-text{
        margin-top: 0;
        margin-bottom: 0.5rem;
        line-height: 1.2rem;
    }
    .project-analysis-text.slightly-bigger{
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
        line-height: 1.3rem;
    }
    .project-analysis-text.bigger{
        font-size: 1rem;
        line-height: 1.4rem;
    }
    .project-analysis-text.extremely-bigger{
        font-size: 1.9rem;
        margin-bottom: 2.5rem;
    }
    .project-analysis-text.indent{
        margin-left: 0rem;
    }
    .project-analysis-text.decorated-title{
        font-size: 0.8rem;
        padding: 1rem 1.2rem 1rem 1.2rem;
        margin-bottom: 2rem;
        margin-top: 4rem;
        margin-right: 1rem;
    }
    .statement-container{
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 1.7rem;
    }
    .arrow{
        width: 1rem;
        height: auto;
    }
    .solution-image.solution-image-final{
        width: 100%;
        margin-left: 0;
        justify-self: center;
    }
    .issue-container{
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 1rem;
        height: 15rem;
    }
    .flex{
        display: block;
        align-items: center;
    }
    .heuristic-text-container{
        padding: 0 2rem 0 2rem;
    }
    .project-analysis-text.refined-interface-text{
        font-size: 0.8rem;
    }
    .refined-interface-container{
        border-radius: 0.5rem;
        margin-bottom: 0rem;
    }
    .john{
        justify-self: center;
    
        width: 7rem;
        height: auto;
        margin-top: 0rem;
    }
    .persona-container{
        grid-row: 2;
        margin-top: 2rem;
    }
    #outcome-1{
        grid-row: 1;
    }
    #outcome-2{
        grid-row: 3;
    }
    #outcome-11{
        grid-row: 2;
    }
    #outcome-22{
        grid-row: 4;
    }
    .grid.project-analysis-two-column{
        grid-template-columns: 1fr;
        margin-top: 1.5rem;
        column-gap: 0rem;
    }
    .grid.project-analysis-overview-two-column{
        grid-template-columns: 1fr;
    
        column-gap: 0rem;
        margin-top: 3rem;
        width: 100%;
    }
    .grid.project-analysis-overview-info-two-column{
        grid-template-columns: 1fr 1.5fr;
    
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .grid.context-vid-four-column{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    
        margin-top: 2rem;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    .grid.project-analysis-solution1-two-column{
        grid-template-columns: 1fr;
        background-color: whitesmoke;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 2rem;
        margin-bottom: 2rem;
        column-gap: 0rem;
    }
    .grid.project-analysis-solution1-two-column.black-background{
        background-color: black;
    }
    .grid.project-analysis-research-two-column{
        grid-template-columns: 1fr;
    
        column-gap: 0rem;
        row-gap: 1rem;
    }
    .grid.project-analysis-user-two-column{
        grid-template-columns: 1fr;
    
        column-gap: 1rem;
    }
    .grid.project-analysis-research-three-column{
        grid-template-columns: 1fr;
    
        column-gap: 0rem;
        row-gap: 2rem;
    }
    .grid.sketches-three-column{
        grid-template-columns: 1fr;
    
        row-gap: 2rem;
        column-gap: 0rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .grid.heuristic-image-container{
        grid-template-columns: 1fr;
    
        row-gap: 1rem;
        margin-top: 3rem;
        margin-bottom: 1.3rem;
    }
    .grid.project-analysis-research-three-column.more-projects{
        row-gap: 2rem;
        column-gap: 0;
    }
    .grid.project-analysis-jackalopesketch-two-column{
        grid-template-columns: 1fr;
    
        column-gap: 0rem;
        row-gap: 0rem;
        margin-bottom: 2rem;
    }
    .grid.project-analysis-jackalopesketch-two-column-reversed{
        grid-template-columns: 1fr;
    
        column-gap: 2rem;
        margin-bottom: 2rem;
    }
    .grid.project-analysis-jackalopesketch-two-column-reversed.grid-john{
        background-color: black;
        border-radius: 2rem;
        padding:1rem 1rem 2rem 1rem;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
    .grid.response-three-column{
        grid-template-columns: 1fr;
        column-gap: 0;
        margin-bottom: 4rem;
    }
    .grid.response-two-column{
        grid-template-columns: 1fr;
        column-gap: 0;
        margin-bottom: 4rem;
    }
}

/* BREAKPOINT 2 */
@media (min-width: 30em) {
}

/* BREAKPOINT 3 */
@media (min-width: 48em) {
}

/* BREAKPOINT 4 */
@media (min-width: 64em) {
    /* NAV BAR */
    .button-nav{
        font-size: 1rem;
    }
    .nav-home{
        margin-left: 2.5rem;
    }
    .nav-about{
        margin-right: 2.5rem;
    }
    .nav-project{
        margin-right: 5rem;
    }
    /* HOMEPAGE - HERO SECTION */
    .emoji{
        display: inline;
        width: 5rem;
        height: auto;
        margin-top: 2rem;
    }
    p{
        letter-spacing: 0.5px;
        font-size: 1.05rem;
    }
    li{
        letter-spacing: 0.5px;
        font-size: 1.05rem;
    }
    .button{
        font-size: 1rem;
        letter-spacing: 0.5px;
        border: 1px solid #a4a4a4;
        padding:1.2rem 3rem 1.2rem 3rem;
    }
    .button.button-margin-left{
        margin-left: 2rem;
    }
    .face-container{
        display: block;
    }
    .hero-section{
        margin-top: 0rem;
    }
    .hero-container{
        padding-top: 2rem;
        padding-left: 9rem;
        padding-right: 9rem;
    }
    .hero-text{
        font-size: 3.2rem;
        line-height: 4rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .hero-text.hero-text-smaller{
        font-size: 2.1rem;
        line-height: 2.8rem;
        padding-right: 10rem;
    }
    .grid.intro-two-column{
        grid-template-columns: 1fr 5fr;
        width: 100%;
        height:auto;
    
        column-gap: 1rem;
    }
    .subtext{
        font-size: 1.2rem;
        line-height: 2rem;
        margin-bottom: 4rem;
        padding-right: 23rem;
    }

    /* HOMEPAGE - PROJECT SECTION */
    .project-section{
        margin: 9rem 10rem 15rem 10rem;
    }
    .homepage-project-name{
        letter-spacing: -0.3px;
        margin-bottom: 0;
        font-size: 2.2rem;
    }
    .homepage-project-info-container{
        flex-direction: row;
    }
    .homepage-project-info{
        font-size: 1.1rem;
        margin-top: 1.6rem;
        margin-bottom: 1.5rem;
    }
    .homepage-project-info.info-margin-left{
        margin-left: 5rem;
    }
    #cardio-cover-1{
        visibility: visible;
        display: block;
    }
    #cardio-cover-2{
        visibility: hidden;
        display: none;
    }
    #jackalope-cover-1{
        visibility: visible;
        display: block;
    }
    #jackalope-cover-2{
        visibility: hidden;
        display: none;
    }
    #capcut-cover-1{
        visibility: visible;
        display: block;
    }
    #capcut-cover-2{
        visibility: hidden;
        display: none;
    }
    .homepage-project-image-container{
        margin-top: 0;
        border-radius: 1.4rem;
    }
    .homepage-project-des{
        letter-spacing: 1px;
        font-size: 1.1rem;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        line-height: 1.7rem;
    }
    .vault-thumbnail-container{
        border-radius: 1.3rem;
        margin-bottom: 0rem;
    }
    .vault-info{
        font-size: 1.1rem;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        line-height: 1.7rem;
    }
    .grid.thumbnail-two-column{
        grid-template-columns: 1fr 1.5fr;
        width:100%;
        height:auto;
    
        column-gap: 4rem;
        margin-top: 3rem;
        margin-bottom: 0;
    }
    .footer{
        margin-right: 2.5rem;
        margin-bottom: 9rem;
        font-size: 1.4rem;
    }
    /* ABOUT PAGE */
    .about-section{
        margin: 4rem 0 10rem 0;
    }
    .about-image-container{
        width: 100%;
        height: 100%;
        border-radius: 2rem;
    }
    .grid.about-two-column{
        grid-template-columns: 1fr 2fr;
        width: 100%;
        height:auto;
    
        column-gap: 3rem;
    }
    .about-image{
        transform: translate(-9%, 0%) scale(1.6);
    }
    .about-text{
        font-size: 3rem;
        line-height: 4rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        letter-spacing: -2px;
    }
    .about-button{
        display: block;

    }
    /* CARDIO PAGE */
    .cover-image-section{
        margin: 6rem 2.5rem 0 2.5rem;
    }
    .cover-image-1{
        display: block;
    }
    .cover-image-2{
        display: none;
    }
    .cover-image-container{
        border-radius: 1.5rem;
        width: 100%;
        height: auto;
    }
    .project-analysis-text.slightly-bigger.slogan{
        margin-top: 0;
        margin-bottom: 0;
    }
    .john{
        justify-self: center;
    
        width: 15rem;
        height: auto;
        margin-top: 4rem;
    }
    .project-analysis-section{
        margin: 0 2.5rem 0 2.5rem;
    }
    .project-analysis-heading-container{
        position: sticky;
        height: 7rem;
        top: 7rem;
    }
    .project-analysis-toc-container{
        display: block;
    }
    .project-analysis-heading{
        font-size: 3.5rem;
    }
    .project-analysis-overview-vid-container{
        display: flex;
        margin-bottom: 2rem;
        margin-top: 0rem;
    }
    .project-analysis-overview-vid{
        width: 14rem;
        height: auto;
        border-radius: 1.3rem;
        margin-left: 1rem;
    }
    .project-analysis-context-vid{
        filter: brightness(50%);
        width: 100%;
        height: auto;
        border-radius: 0.7rem;
    }
    .project-analysis-section-name{
        font-size: 1.9rem;
        letter-spacing: -0.5px;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .solution-image{
        width: 14rem;
        height: auto;
        border-radius: 1.6rem;
        margin-left: 1rem;
    }
    .draft-vid{
        width: 16rem;
        height: auto;
        border-radius: 2rem;
        margin-right: 1rem;
    }
    .project-analysis-text{
        margin-top: 0;
        margin-bottom: 0.5rem;
        line-height: 1.6rem;
    }
    .project-analysis-text.slightly-bigger{
        font-size: 1.5rem;
        margin-bottom: 2rem;
        margin-top: 4rem;
        line-height: 1.9rem;
    }
    .project-analysis-text.bigger{
        font-size: 1.7rem;
        line-height: 2.4rem;
    }
    .project-analysis-text.extremely-bigger{
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }
    .project-analysis-text.indent{
        margin-left: 2rem;
    }
    .project-analysis-text.decorated-title{
        font-size: 1rem;
        padding: 1rem 1.7rem 1rem 1.7rem;
        margin-bottom: 2rem;
        margin-top: 4rem;
        margin-right: 1rem;
    }
    .statement-container{
        padding: 2rem 7rem 2rem 7rem;
        border-radius: 1.7rem;
    }
    .arrow{
        width: 1.2rem;
        height: auto;
    }
    .arrow.bigger{
        width: 1.4rem;
        height: auto;
    }
    .solution-image.solution-image-final{
        width: 100%;
        margin-left: 0;
        justify-self: end;
    }
    .issue-container{
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 2rem;
        height: 21rem;
    }
    .issue-container.quote{
        padding: 2rem 3rem 2rem 3rem;
    }
    .issue-container.smaller{
        padding: 1rem 1.5rem 1rem 1.5rem;
        border-radius: 1.2rem;
    }
    .cta{
        margin-left: 9rem;
        margin-right: 9rem;
    }
    .flex{
        display: flex;
        align-items: center;
    }
    .heuristic-text-container{
        padding: 0 9rem 0 9rem;
    }
    .project-analysis-text.refined-interface-text{
        font-size: 1.2rem;
    }
    .refined-interface-container{
        border-radius: 1.5rem;
        margin-bottom: -1rem;
    }
    .persona-container{
        grid-row: auto;
        margin-top: 0;
    }
    #outcome-1{
        grid-row: auto;
    }
    #outcome-2{
        grid-row: auto;
    }
    #outcome-11{
        grid-row: auto;
    }
    #outcome-22{
        grid-row: auto;
    }
    .grid.project-analysis-two-column{
        grid-template-columns: 1fr 4fr;
        margin-top: 4rem;
        column-gap: 6rem;
    }
    .grid.project-analysis-overview-two-column{
        grid-template-columns: 2fr 1fr;
    
        column-gap: 2rem;
        margin-top: 3rem;
        width: 100%;
    }
    .grid.project-analysis-overview-two-column.user{
        column-gap: 1rem;
    }
    .grid.project-analysis-overview-info-two-column{
        grid-template-columns: 1fr 1.5fr;
    
        margin-top: 3rem;
        margin-bottom: 4rem;
        width: 80%;
    }
    .grid.context-vid-four-column{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        margin-top: 4rem;
        column-gap: 1rem;
    }
    .grid.project-analysis-solution1-two-column{
        grid-template-columns: 1fr 1fr;
        background-color: whitesmoke;
        padding: 2rem 2rem 2rem 3rem;
        border-radius: 3rem;
        margin-bottom: 2rem;
        column-gap: 2rem;
    }
    .grid.project-analysis-solution1-two-column.black-background{
        background-color: black;
    }
    .grid.project-analysis-research-two-column{
        grid-template-columns: 1fr 1fr;
    
        column-gap: 4rem;
        row-gap: 1rem;
    }
    .grid.project-analysis-user-two-column{
        grid-template-columns: 1fr 1fr;
    
        column-gap: 1rem;
    }
    .grid.project-analysis-research-three-column{
        grid-template-columns: 1fr 1fr 1fr;
    
        column-gap: 4rem;
        row-gap: 2rem;
    }
    .grid.sketches-three-column{
        grid-template-columns: 3fr 2.2fr 1fr;
    
        column-gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .grid.heuristic-image-container{
        grid-template-columns: 1fr 1fr;
    
        row-gap: 2rem;
        column-gap: 2rem;
        margin-top: 3rem;
        margin-bottom: 1.8rem;
    }
    .grid.project-analysis-research-three-column.more-projects{
        row-gap: 2.5rem;
        column-gap: 2rem;
    }
    .grid.project-analysis-jackalopesketch-two-column{
        grid-template-columns: 1fr 3fr;
    
        column-gap: 2rem;
        row-gap: 1rem;
        margin-bottom: 2rem;
    }
    .grid.project-analysis-jackalopesketch-two-column.more-row-gap{
        row-gap: 3rem;
    }
    .grid.project-analysis-jackalopesketch-two-column-reversed{
        grid-template-columns: 1.7fr 1fr;
    
        column-gap: 2rem;
        margin-bottom: 2rem;
    }
    .grid.project-analysis-jackalopesketch-two-column-reversed.grid-john{
        background-color: black;
        /* border: 3px solid rgb(43, 43, 43); */
        border-radius: 2rem;
        padding:4rem 3rem 5rem 5rem;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
    .grid.response-three-column{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        margin-bottom: 4rem;
    }
    .grid.response-two-column{
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        margin-bottom: 4rem;
    }
}

/* BREAKPOINT 5 */
@media (min-width: 75em) {

}
